@import '../../globals/sizing/sizing';
@import '../../globals/utils/utils';
@import '../../globals/colors';

.footer-area {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: auto;
  text-align: center;
  a {
    @extend %text-primary;
    text-decoration: none;
  }
}
