@import '../globals/sizing/sizing';
@import '../globals/utils/utils';
@import '../globals/colors';

.condition-area,
.imprint-area {
  @extend %height-100;
  overflow: auto;
  padding: 0 9rem;

  .title-area {
    @extend %padding-top-2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    -webkit-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.32);
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
  }

  .contact-card {
    width: 499px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .contact-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;

    div {
      display: flex;
    }
  }

  p,
  address {
    @extend %padding-left-4;
  }

  ul {
    padding-left: 6rem;
  }

  .anchor {
    @extend %padding-top-3;
    display: flex;
  }

  a {
    @extend %text-primary;
    text-decoration: none;
  }
}
