@import '../globals/colors';
@import '../globals/font';

@import '../globals/sizing/sizing';
@import '../globals/utils/utils';

.document-area {
  @extend %height-100;
  display: flex;
  flex-direction: column;

  .topmenu-area {
    @extend %padding-3;
    @include border(#d4cccc, 1px, bottom);
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900) {
      flex-direction: row;
    }

    .topmenu-button-area {
      min-width: 300px;

      button:first-child {
        @extend %margin-right-2;
      }
    }

    .title-area {
      margin: auto 0;
      left: 0px;

      h2 {
        @extend %text-primary;
        padding: 0;
        margin: 0;
      }
    }

    .search-word-label {
      @extend %rounded-border;
      color: black;
      user-select: none;
      padding: 0.25rem;
      margin-top: 10px;
      margin-left: 0.5rem;
      margin-bottom: 0.2rem;

      button {
        border: 0;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
    }

    button {
      cursor: pointer;
    }

    .filter-area {
      margin-top: auto;
      margin-bottom: auto;
    }

    .search-area {
      min-width: 300px;
    }
  }

  .content-area {
    @include border(#d4cccc, 1px, bottom);

    display: flex;
    flex-grow: 1;
    height: 82vh;
    @media only screen and (max-width: 600px) {
      height: 100vh;
    }

    .menu-view {
      @extend %height-100;
      @include border(#d4cccc, 1px, right);
      overflow: auto;
      min-width: 400px;

      .course-item {
        @extend %padding-3;
        display: flex;

        svg {
          @extend %padding-right-2;
        }

        span {
          user-select: none;
          margin: auto 0;
        }
      }

      .course-item:hover {
        background-color: darken($light, 20%);
      }

      .course-item.highlight:hover {
        background-color: darken($primary, 10%);
      }
    }
  }

  .detailed-view {
    @extend %height-100;
    width: 80%;
    height: 100%;
    overflow: auto;
    //background-color: pink;

    .document-item {
      @extend %padding-3;
      display: flex;
      max-height: 200px;
      cursor: pointer;

      svg {
        @extend %padding-right-2;
        width: 35px;
        height: 35px;
      }

      .info-area {
        margin: auto 0.5rem;
        display: flex;
        flex-wrap: wrap;

        span {
          @extend %padding-right-2;
        }
      }
    }

    .document-item:hover {
      background-color: darken($light, 20%);
    }
  }
}
