@import '../globals/sizing/sizing';
@import '../globals/utils/utils';
@import '../globals/colors';

.login-screen {
  @extend %height-100;
  .container {
    align-items: center;

    @media only screen and (max-width: 600px) {
      margin-left: 1rem;
      margin-right: 1rem;
      width: auto;
    }

    img {
      margin: -5rem;
      transform: scale(0.75);
    }

    .landing-area {
      text-align: center;
    }

    form {
      @extend %width-100;

      .info-area {
        @extend %padding-3;
        @extend %text-light;
        @extend %rounded-border;
        width: 90%;
        margin: 2rem auto;
        background-color: $primary;

        a {
          @extend %text-light;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

.btn {
  @media only screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
  }
}
