@import '../globals/colors';
@import '../globals/font';

@import '../globals/sizing/sizing';
@import '../globals/utils/utils';

.student-admin-area {
  @extend %height-100;
  display: flex;
  flex-direction: column;

  .topmenu-area {
    @extend %padding-left-3;
    @extend %padding-right-3;
    @extend %padding-top-3;
    display: flex;
    justify-content: space-between;

    .topmenu-button-area {
      min-width: 300px;
    }

    .search-area {
      min-width: 300px;
    }
  }

  .info-area {
    @include border(#d4cccc, 1px, bottom);
    @extend %width-100;

    p {
      text-align: center;
    }
  }

  .content-area {
    @extend %padding-3;
    width: calc(100% - 2 * 1rem);
    height: calc(100% - 2 * 1rem);
    overflow: auto;

    table {
      width: 80%;
      max-height: 100%;
      border-collapse: separate;
      border-spacing: 0px;
      margin: 0 auto;

      td {
        text-align: center;

        span.release-document-item {
          @extend %padding-2;
          @extend %rounded-border;
          cursor: pointer;
        }

        span.release-document-item:hover {
          background-color: $primary;
          color: $light;
        }
      }

      tr:hover {
        background-color: darken($light, 20%);
      }

      thead {
        td {
          font-weight: 700;
        }
      }
    }
  }
}
