@import '../globals/colors';
@import '../globals/font';

@import '../globals/sizing/sizing';
@import '../globals/utils/utils';

.document-area {
  @extend %height-100;
  display: flex;
  flex-direction: column;

  .topmenu-area {
    @extend %padding-3;
    @include border(#d4cccc, 1px, bottom);
    display: flex;
    justify-content: space-between;

    .topmenu-button-area {
      min-width: 300px;

      button:first-child {
        @extend %margin-right-2;
      }
    }

    .title-area {
      margin: auto 0;

      h2 {
        @extend %text-primary;
        padding: 0;
        margin: 0;
      }
    }

    .search-area {
      min-width: 300px;
    }
  }

  .content-area {
    @include border(#d4cccc, 1px, bottom);

    display: flex;
    flex-grow: 1;
    height: calc(100% - 71px);

    .detailed-view {
      @extend %height-100;
      width: 80%;
      height: 100%;
      overflow: auto;
      padding: 0 10%;
      //background-color: pink;

      .no-documents-info-banner {
        @extend %padding-top-3;
        text-align: center;
        font-size: 1.3rem;
      }

      .document-item {
        @extend %padding-3;
        display: flex;
        max-height: 200px;
        cursor: pointer;

        svg {
          @extend %padding-right-2;
          width: 35px;
          height: 35px;
        }

        .info-area {
          margin: auto 0.5rem;
          display: flex;
          flex-wrap: wrap;

          span {
            @extend %padding-right-2;
          }
        }
      }

      .document-item:hover {
        background-color: darken($light, 20%);
      }
    }
  }
}
