.btn {
  @extend %rounded-border;
  @include border(transparent);
  display: inline-block;
  height: $font-size + 2 * 0.75rem;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $dark;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn.btn-show-border {
  @include border(rgba(0, 0, 0, 0.15));
  margin: 0.2rem;
}

.btn.btn-light {
  @extend %bg-light;
}

.btn.btn-primary {
  @extend %bg-primary;
  color: $light;
}
.btn.btn-primary:hover {
  background-color: darken($primary, 10%);
}

.btn.btn-red {
  @extend %bg-red;
  color: $light;
}
.btn.btn-red:hover {
  background-color: darken($bwb-red, 10%);
}

.btn-shadow {
  @extend %shadow;
}

.btn:hover {
  background-color: darken($light, 10%);
}
