.dropdown-toggle {
  white-space: nowrap;
}

.dropdown {
  position: relative;
  display: inline-block;

  button::after {
    @include border(black, 0.3em, top);
    @include border(transparent, 0.3em, right);
    @include border(black, 0, bottom);
    @include border(transparent, 0.3em, left);
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
  }

  .dropdown-menu {
    @extend %rounded-border;
    @include border(rgba(0, 0, 0, 0.15));
    display: none;
    position: absolute;
    background-color: $light;
    min-width: 10rem;
    z-index: 1000;
    margin: 0.1rem 0;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    a:hover {
      background-color: darken($light, 10%);
    }
  }

  .dropdown-menu.show-dropdown-menu {
    display: block;
  }
}
