/*
 * Definiton of colors
 */
$blue-100: rgb(0, 114, 198);
$blue-80: rgb(84, 133, 200);
$blue-60: rgb(122, 160, 215);
$blue-20: rgb(180, 203, 238);
$blue-10: rgb(227, 235, 250);

$green-100: rgb(138, 185, 37);
$green-80: rgb(157, 188, 76);
$green-60: rgb(178, 201, 103);
$green-20: rgb(210, 234, 152);
$green-10: rgb(233, 245, 204);

$grey: rgb(108, 117, 125);
$grey-80: rgb(111, 109, 96);
$grey-60: rgb(157, 154, 139);
$grey-20: rgb(198, 197, 186);
$grey-10: rgb(233, 232, 227);

$background-grey: rgba(228, 228, 228, 0.725);

$bwb-red: rgb(170, 25, 35);

$hwr-red: rgb(213, 12, 47);

$unicorn: deeppink;

$primary: $hwr-red;
$secondary: $grey-10;
$info: $green-20;
$warning: $grey-60;
$danger: $bwb-red;
$light: white;
$dark: black;
$text-color: $dark;

/*
 * Usage of color defintions
 */
%bg-transparent {
  background-color: transparent;
}
%bg-primary {
  background-color: $primary;
}
%bg-secondary {
  background-color: $secondary;
}
%bg-background {
  background-color: $background-grey;
}
%bg-light {
  background-color: $light;
}
%bg-dark {
  background-color: $dark;
}
%bg-unicorn {
  background-color: $unicorn;
}
%bg-red {
  background-color: $bwb-red;
}
%text-primary {
  color: $primary;
}
%text-secondary {
  color: $secondary;
}
%text-light {
  color: $light;
}
%text-grey {
  color: $grey;
}
%text-dark {
  color: $dark;
}
%shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.highlight {
  background-color: $primary;
  color: $light;
}
