$font-family: 'Work Sans', sans-serif;
$font-size: 1rem;
$small-font-size: 0.8 * $font-size;
$font-weight: 400;
$line-height: 1.5;
$light-font-weight: 0.75 * $font-weight;

%text-style-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
%text-nowrap {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Crimson Text', serif;
  font-weight: $light-font-weight;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}
