.modal-mask {
  @extend %width-100;
  @extend %height-100;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-container {
  @extend %margin-x-auto;
  @extend %padding-3;
  @extend %rounded-border;
  @extend %bg-light;
  @extend %shadow;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.modal-container.big {
  max-width: 75%;
  flex-basis: 50vh;
  max-height: 70vh;
}

.modal-container.small {
  max-width: 50%;
}

.modal-container.large {
  max-width: 75%;
}

.modal-container.fixed {
  height: 70vh;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  button {
    @extend %margin-y-auto;
    float: right;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    border: 0;
    background-color: transparent;
  }

  button:hover {
    color: $bwb-red;
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    @extend %margin-left-3;
  }
}

.modal-container.large .modal-body {
  @extend %padding-top-2;
  @extend %padding-bottom-2;
  @include border(lightgray, 1px, bottom);
  @include border(lightgray, 1px, top);
}

.modal-body {
  @extend %margin-top-1;
  @extend %margin-bottom-1;
  overflow: auto;
  flex-grow: 1;
}

/*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*
 * special cases for picture modal
 */
.picture-modal-container {
  height: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.edge-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  color: white;
  background-color: transparent;
  border: 0;
}
