.status-bubble {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $bwb-red;
  margin: auto 0;
}

.status-bubble.started {
  background-color: orange;
}

.status-bubble.finished {
  background-color: $primary;
}
