$radius: 0.25rem;
%rounded-border {
  border-radius: $radius;
}
%rounded-border-top {
  border-radius: 0;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
%rounded-border-right {
  border-radius: 0;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
%rounded-border-bottom {
  border-radius: 0;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
%rounded-border-left {
  border-radius: 0;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border($color, $width: 1px, $dir: none) {
  @if $dir == top {
    border-top: $width solid $color;
  } @else if $dir == left {
    border-left: $width solid $color;
  } @else if $dir == bottom {
    border-bottom: $width solid $color;
  } @else if $dir == right {
    border-right: $width solid $color;
  } @else {
    border: $width solid $color;
  }
}
