%margin-auto {
  margin: auto;
}
%margin-x-auto {
  margin: 0px auto;
}
%margin-y-auto {
  margin: auto 0px;
}

%margin-1 {
  margin: 0.25rem;
}
%margin-2 {
  margin: 0.5rem;
}
%margin-3 {
  margin: 1rem;
}
%margin-4 {
  margin: 2rem;
}
%margin-5 {
  margin: 4rem;
}

// left
%margin-left-1 {
  margin-left: 0.25rem;
}
%margin-left-2 {
  margin-left: 0.5rem;
}
%margin-left-3 {
  margin-left: 1rem;
}
%margin-left-4 {
  margin-left: 2rem;
}
%margin-left-5 {
  margin-left: 4rem;
}

// right
%margin-right-1 {
  margin-right: 0.25rem;
}
%margin-right-2 {
  margin-right: 0.5rem;
}
%margin-right-3 {
  margin-right: 1rem;
}
%margin-right-4 {
  margin-right: 2rem;
}
%margin-right-5 {
  margin-right: 4rem;
}

// top
%margin-top-1 {
  margin-top: 0.25rem;
}
%margin-top-2 {
  margin-top: 0.5rem;
}
%margin-top-3 {
  margin-top: 1rem;
}
%margin-top-4 {
  margin-top: 2rem;
}
%margin-top-5 {
  margin-top: 4rem;
}

// bottom
%margin-bottom-1 {
  margin-bottom: 0.25rem;
}
%margin-bottom-2 {
  margin-bottom: 0.5rem;
}
%margin-bottom-3 {
  margin-bottom: 1rem;
}
%margin-bottom-4 {
  margin-bottom: 2rem;
}
%margin-bottom-5 {
  margin-bottom: 4rem;
}
