%padding-auto {
  padding: auto;
}

%padding-1 {
  padding: 0.25rem;
}
%padding-2 {
  padding: 0.5rem;
}
%padding-3 {
  padding: 1rem;
}
%padding-4 {
  padding: 2rem;
}
%padding-5 {
  padding: 4rem;
}

//left
%padding-left-1 {
  padding-left: 0.25rem;
}
%padding-left-2 {
  padding-left: 0.5rem;
}
%padding-left-3 {
  padding-left: 1rem;
}
%padding-left-4 {
  padding-left: 2rem;
}
%padding-left-5 {
  padding-left: 4rem;
}

//right
%padding-right-1 {
  padding-right: 0.25rem;
}
%padding-right-2 {
  padding-right: 0.5rem;
}
%padding-right-3 {
  padding-right: 1rem;
}
%padding-right-4 {
  padding-right: 2rem;
}
%padding-right-5 {
  padding-right: 4rem;
}

//top
%padding-top-1 {
  padding-top: 0.25rem;
}
%padding-top-2 {
  padding-top: 0.5rem;
}
%padding-top-3 {
  padding-top: 1rem;
}
%padding-top-4 {
  padding-top: 2rem;
}
%padding-top-5 {
  padding-top: 4rem;
}

//bottom
%padding-bottom-1 {
  padding-bottom: 0.25rem;
}
%padding-bottom-2 {
  padding-bottom: 0.5rem;
}
%padding-bottom-3 {
  padding-bottom: 1rem;
}
%padding-bottom-4 {
  padding-bottom: 2rem;
}
%padding-bottom-5 {
  padding-bottom: 4rem;
}
