/*
 * height 
 */
%height-auto {
  height: auto;
}
%height-100 {
  height: 100%;
}
%vheight-100 {
  height: 100vh;
}
%max-height-100 {
  max-height: 100%;
}
%max-vheight-100 {
  max-height: 100vh;
}
%reset-min-height {
  min-height: 0;
}

/*
 * width 
 */
%width-auto {
  width: auto;
}
%width-100 {
  width: 100%;
}
%vwidth-100 {
  width: 100vw;
}
%max-width-100 {
  max-width: 100%;
}
%max-vwidth-100 {
  max-width: 100vw;
}
%reset-min-width {
  min-width: 0;
}
%min-width-100 {
  min-width: 100%;
}
