@import '../../globals/utils/utils';
@import '../../globals/sizing/sizing';
@import '../../globals/colors';

.cookie-banner-area {
  @extend %padding-5;
  @extend %text-light;

  position: fixed;
  bottom: 0;
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: center;

  .content-area {
    display: flex;
    align-items: center;

    .button-area {
      @extend %margin-left-3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 200px;

      button:first-child {
        @extend %margin-bottom-2;
      }

      button:last-child {
        @extend %text-light;
      }
    }
  }
}
