@import '../../globals/font';

.range-chooser-area {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;

  span {
    @extend %text-style-uppercase;
    white-space: nowrap;
    font-weight: 200;
  }
}
