.infobox-outer-area {
  width: 100%;
  display: flex;
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 99999;
  pointer-events: none;

  .infobox-area {
    @extend %text-light;
    @extend %rounded-border;
    @extend %shadow;

    position: relative;
    opacity: 0.85;
    pointer-events: all;

    &.info-type {
      background-color: rgb(89, 89, 89);
    }

    &.alert-type {
      @extend %bg-red;
    }

    .infobox-close-icon {
      @extend %padding-1;

      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      opacity: 0.5;
      cursor: pointer;

      svg.icon {
        height: 1rem;
        width: 1rem;
      }
    }

    .infobox-text {
      @extend %padding-4;
    }
  }
}

.infobox-slide-down-enter-active {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.infobox-slide-down-leave-active {
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.infobox-slide-down-enter,
.infobox-slide-down-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
