@import '../../globals/font';
@import '../../globals/colors';
@import '../../globals/utils/utils';

.title {
  @extend %text-style-uppercase;
  @extend %padding-bottom-2;
  text-align: center;
}

.assignment-area {
  max-height: 20vh;
  overflow-y: auto;
  .student-info {
    @extend %margin-bottom-1;
    @extend %padding-left-2;
    @extend %padding-right-2;
    @extend %rounded-border;
    display: flex;
    justify-content: space-between;
  }

  .student-info:hover {
    background-color: darken($light, 10%);
  }
}
