@import '../../globals/utils/utils';
@import '../../globals/font';

.students-filter-area {
  display: flex;

  .row {
    @extend %padding-left-1;
    width: 50%;
    flex-grow: 1;
    overflow-y: auto;

    .title {
      @extend %text-style-uppercase;
      @extend %margin-bottom-2;
      text-align: center;
    }

    .indented {
      @extend %margin-left-4;
    }
  }
}
