/* 
 * Global imports
 */

@import './globals/colors';
@import './globals/font';

/* Global utils */

@import './globals/sizing/sizing';
@import './globals/utils/utils';
@import './globals/structures/structures';

/* 
 * Util imports
 */

@import './utils/Normalize/normalize';

/*
 * Global settings
 */

body {
  font-family: $font-family;
  font-size: $font-size;
}

#app {
  @extend %vheight-100;
  @extend %vwidth-100;

  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-area {
  @extend %height-100;
  @extend %width-100;
  //@extend %bg-background;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: $small-font-size;
}
