/* 
 * Global imports
 */
/*
 * Definiton of colors
 */
/*
 * Usage of color defintions
 */
.search-group .icon,
form .btn,
.btn.btn-primary {
  background-color: rgb(213, 12, 47);
}

.modal-container,
.table-area .table .table-body .table-row,
.btn.btn-light {
  background-color: white;
}

.btn.btn-red {
  background-color: rgb(170, 25, 35);
}

form .btn {
  color: white;
}

.form-group small {
  color: rgb(108, 117, 125);
}

.modal-container,
.table-area .table,
.btn-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.highlight {
  background-color: rgb(213, 12, 47);
  color: white;
}

.table-area .table .table-header .table-header-item {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

/* Global utils */
/*
 * height 
 */
.main-area,
.container,
.modal-mask {
  height: 100%;
}

#app {
  height: 100vh;
}

/*
 * width 
 */
.main-area,
.container,
.modal-mask,
.table-area .table .table-body .table-row,
.table-area .table .table-body,
.table-area .table {
  width: 100%;
}

#app {
  width: 100vw;
}

.table-area .table .table-body .table-row,
.table-area .table {
  max-width: 100%;
}

.table-area {
  padding: 0.5rem;
}

.modal-container {
  padding: 1rem;
}

.modal-container.large .modal-body {
  padding-top: 0.5rem;
}

.modal-container.large .modal-body {
  padding-bottom: 0.5rem;
}

.modal-container {
  margin: 0px auto;
}

.modal-header button {
  margin: auto 0px;
}

.checkbox label {
  margin-left: 0.5rem;
}

.modal-footer button,
.table-area .table {
  margin-left: 1rem;
}

.table-area .table {
  margin-right: 1rem;
}

.modal-body {
  margin-top: 0.25rem;
}

.table-area .table {
  margin-top: 0.5rem;
}

.modal-body,
.checkbox {
  margin-bottom: 0.25rem;
}

.table-area .table {
  margin-bottom: 0.5rem;
}

.modal-container,
.table-area .table,
.search-group input,
.form-group input,
.form-group textarea,
.form-group select,
.dropdown .dropdown-menu,
.btn {
  border-radius: 0.25rem;
}

.table-area .table .table-header {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.search-group input {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn {
  border: 1px solid transparent;
  display: inline-block;
  height: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn.btn-show-border {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0.2rem;
}

.btn.btn-primary {
  color: white;
}

.btn.btn-primary:hover {
  background-color: #a50924;
}

.btn.btn-red {
  color: white;
}

.btn.btn-red:hover {
  background-color: #7e121a;
}

.btn:hover {
  background-color: #e6e6e6;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown button::after {
  border-top: 0.3em solid black;
  border-right: 0.3em solid transparent;
  border-bottom: 0 solid black;
  border-left: 0.3em solid transparent;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
}
.dropdown .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  z-index: 1000;
  margin: 0.1rem 0;
}
.dropdown .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-menu a:hover {
  background-color: #e6e6e6;
}
.dropdown .dropdown-menu.show-dropdown-menu {
  display: block;
}

.search-group input,
.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid #b3b3b3;
  display: block;
  width: calc(100% - 1.5rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: white;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkbox label {
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-group input:disabled {
  background-color: lightgray;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  height: 2.5rem;
}
.form-group small {
  display: block;
  margin-top: 0.25rem;
}

.search-group {
  display: flex;
}
.search-group .icon {
  /* @extend %rounded-border-left; */
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-group .icon svg {
  width: 1.25rem;
  height: 1.25rem;
}
.search-group .icon:first {
  border-right: 1px solid black;
}
.table-area {
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}
.table-area .table {
  min-width: 0;
  min-height: 0;
  overflow: auto;
}
.table-area .table .table-header {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  background-color: #f2f2f2;
  height: 5%;
}
.table-area .table .table-header .table-header-item {
  width: 14.2857142857%;
  text-align: center;
  font-weight: 100;
  margin: auto;
}
.table-area .table .table-body {
  height: 95%;
}
.table-area .table .table-body .table-row {
  height: 16.6666666667%;
  max-height: 16.6666666667%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.table-area .table .table-body .table-row .table-row-entry {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
  display: flex;
  text-align: right;
  text-overflow: ellipsis;
  overflow: auto;
}
.table-area .table .table-body .table-row .table-row-entry:not(:last-child) {
  border-right: 1px solid #dee2e6;
}
.table-area .table .table-body .table-row:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}
.table-area .table .loading {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-mask {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.modal-container.big {
  max-width: 75%;
  flex-basis: 50vh;
  max-height: 70vh;
}

.modal-container.small {
  max-width: 50%;
}

.modal-container.large {
  max-width: 75%;
}

.modal-container.fixed {
  height: 70vh;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-header button {
  float: right;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  border: 0;
  background-color: transparent;
}
.modal-header button:hover {
  color: rgb(170, 25, 35);
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-container.large .modal-body {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.modal-body {
  overflow: auto;
  flex-grow: 1;
}

/*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

/*
 * special cases for picture modal
 */
.picture-modal-container {
  height: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.edge-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  color: white;
  background-color: transparent;
  border: 0;
}

.status-bubble {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(170, 25, 35);
  margin: auto 0;
}

.status-bubble.started {
  background-color: orange;
}

.status-bubble.finished {
  background-color: rgb(213, 12, 47);
}

.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

/* 
 * Util imports
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: auto;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/**
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/**
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
 * Global settings
 */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

#app {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-area {
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: 0.8rem;
} /*# sourceMappingURL=main.css.map */
