@import '../../globals/sizing/sizing';
@import '../../globals/utils/utils';
@import '../../globals//colors';

.document-upload-area {
  max-height: 70vh;
  overflow: auto;
  overflow-y: auto;

  .inner-upload-area {
    @extend %margin-right-3;

    .two-column-input {
      display: flex;
      justify-content: space-between;

      .form-group {
        width: 47.5%;
      }

      .searchBtn {
        width: 47.5%;
        margin: 1rem 0 1rem 0;
      }
    }
  }
}

.search-word-label {
  @extend %rounded-border;
  color: black;
  user-select: none;
  padding: 0.25rem;
  margin-top: 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;

  button {
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}
