@import '../../globals/sizing/sizing';
@import '../../globals/utils/utils';
@import '../../globals//colors';

.information-area {
  margin: 0.4rem;
  .info-header-area {
    font-weight: 700;
  }
  .info-content-area {
  }
}

.abstract-information-area {
  display: flex;
  flex-direction: column;
  .info-header-area {
    font-weight: 700;
  }
  .info-content-area {
  }

  .download-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 1rem;
  }
}

.release-view-area {
  @include border(lightgray, 1px, top);
  @extend %padding-right-1;
  @extend %margin-top-3;
  @extend %padding-top-3;
  display: flex;
  flex-direction: column;

  .release-header {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
  }

  .release-button-area {
    display: flex;
    justify-content: space-around;
  }
}

.search-word-label {
  @extend %rounded-border;
  color: black;
  user-select: none;
  padding: 0.25rem;
  margin-top: 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
