<template>
  <div class="condition-area">
    <div class="title-area">
      <h2>{{ $t('Nutzungsbedingungen') }}</h2>
    </div>
    <h3>{{ $t('Allgemeine Nutzungsbedingungen') }}</h3>
    <p>
      StudiDocs (<a href="https://ipool.lehre.hwr-berlin.de/studidocs-client/"
        >https://ipool.lehre.hwr-berlin.de/studidocs-client</a
      >)
      {{
        $t(
          'ist eine Anwendung zum Austausch von während des Studiums erstellten Arbeiten, wie beispielsweise Praxistransferberichten oder Studienarbeiten, zwischen Studierenden des FB2 der HWR.',
        )
      }}
    </p>
    <p>
      {{
        $t(
          'Für den Inhalt der fachlichen Ausarbeitungen und Skripte sind ausschließlich die jeweiligen Autoren verantwortlich. Fremde Inhalte sind eindeutig mit Hilfe von Quellenangaben als solche zu kennzeichnen.',
        )
      }}
      <br />
      {{
        $t('Des Weiteren erklären sich die Nutzer mit Folgendem einverstanden:')
      }}
      <br />
    </p>
    <ul>
      <li>
        {{
          $t(
            'die Veröffentlichung von Inhalten zu unterlassen, die unsachlich, vorsätzlich unwahr, ehrverletzend, herabwürdigend, verleumderisch, sittlich anstößig, obszön, hetzerisch, rassistisch, diffamierend oder pornographisch sind;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'keinen Straf- oder Ordnungswidrigkeitstatbestand zu erfüllen oder sonstige Rechtsnormen zu verletzen;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'die Rechte, insbesondere Patent-, Urheber-, Marken-, Leistungsschutz-, Kennzeichen- und Geschmacksmusterrechte Dritter zu achten;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'keine Inhalte zu verbreiten, in denen ein politisches, weltanschauliches oder religiöses Bekenntnis erfolgt;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'auf unseren Seiten keine Werbung zu betreiben, ganz gleich, ob offen oder als Meinungsäußerung getarnt;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'keine Manipulationen vorzunehmen, die die Herkunft eines Inhalts, der vom Nutzer eingestellt wird, verschleiern;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'kein Material einzugeben, zu veröffentlichen oder auf sonstige Weise zu übertragen, das Software-Viren oder andere Informationen, Dateien oder Programme enthält, die dazu gedacht oder geeignet sind, die Funktion von Computer Soft- oder Hardware oder von Telekommunikationseinrichtungen zu unterbrechen, zu zerstören oder einzuschränken;',
          )
        }}
      </li>
      <li>
        {{
          $t(
            'den technischen Ablauf nicht zu stören oder den gewöhnlichen Gang einer Kommunikation nicht zu unterbrechen;',
          )
        }}
      </li>
    </ul>

    <div id="cookies" class="anchor"></div>
    <h3>{{ $t('Verwendung von Cookies') }}</h3>
    <p>
      {{
        $t(
          'Wir verwenden Cookies. Dies sind kleine Textdateien, die auf Ihrem Gerät abgelegt und im Browser gespeichert werden.',
        )
      }}
    </p>
    <p>
      {{ $t('Zum einen werden so genannte Session-Cookies erzeugt.') }}
      {{
        $t(
          'Diese sind notwendig für eine technisch fehlerfreie Funktion unserer Website und werden nach Ende Ihres Besuchs automatisch wieder gelöscht.',
        )
      }}
      {{
        $t(
          'Die Session-Cookies werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert.',
        )
      }}
    </p>

    <div id="privacy_protection" class="anchor"></div>
    <h3>{{ $t('Datenschutzerklärung') }}</h3>

    <h4>{{ $t('Allgemeines') }}</h4>

    <p>
      {{
        $t(
          'StudiDocs speichert personenbezogene Daten, also Daten, mit denen Sie persönlich identifiziert werden können.',
        )
      }}
      {{
        $t(
          'Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften.',
        )
      }}
      {{
        $t(
          'Die folgende Datenschutzerklärung gibt Auskunft darüber, welche Daten wir erheben, wie damit verfahren wird, und zu welchem Zweck dies geschieht.',
        )
      }}
    </p>
    <p>
      {{
        $t(
          'Alle personenbezogenen Daten werden ausschließlich dadurch erhoben, dass Sie uns diese mitteilen.',
        )
      }}
      {{
        $t(
          'Durch das Aufrufen der Website allein werden noch keine personenbezogenen Daten erfasst.',
        )
      }}
      {{
        $t(
          'Wir geben Ihre Daten nicht an Dritte weiter, ohne Ihre ausdrückliche Zustimmung dazu eingeholt zu haben.',
        )
      }}
    </p>
    <h4>{{ $t('Verantwortliche Stelle') }}</h4>
    <p>
      {{
        $t(
          'Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:',
        )
      }}
    </p>
    <address>
      {{ $t('Hochschule für Wirtschaft und Recht Berlin') }}
      <br />
      Alt-Friedrichsfelde 60
      <br />
      10315 Berlin
    </address>
    <h4>{{ $t('Widerruf Ihrer Einwilligung') }}</h4>
    <p>
      {{
        $t(
          'Die Speicherung und Verarbeitung Ihrer Daten ist nur mit Ihrer ausdrücklichen Zustimmung zu dieser Datenschutzerklärung möglich.',
        )
      }}
      {{
        $t(
          'Sie können eine bereits erteilte Zustimmung jederzeit mit einer formlosen Mitteilung an uns widerrufen.',
        )
      }}
    </p>
    <h4>{{ $t('Datenerfassung') }}</h4>
    <p>
      {{
        $t(
          'Wenn Sie sich in StudiDocs einloggen, speichern wir Ihre HWR-Kennung.',
        )
      }}
      {{
        $t(
          'Die Daten werden benötigt, um eine fehlerfreie Funktion der Features in StudiDocs zu gewährleisten.',
        )
      }}
    </p>
    <h4>{{ $t('Auskunft, Berichtigung, Übertragung und Löschung') }}</h4>
    <p>
      {{
        $t(
          'Sie können jederzeit unentgeltliche Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten erhalten.',
        )
      }}
      {{
        $t(
          'Dies umfasst eine Auskunft über deren Herkunft und Empfänger sowie den Zweck der Datenverarbeitung und ein Recht auf Berichtigung oder Löschung dieser Daten.',
        )
      }}
      {{
        $t(
          'Darüber hinaus können die Daten, die wir über Sie speichern, jederzeit in einem maschinenlesbaren Format an sich oder an einen Dritten aushändigen lassen.',
        )
      }}
      {{
        $t(
          'Für alle Fragen zu Ihren personenbezogenen Daten können Sie sich jederzeit an die oben angegebene verantwortliche Stelle wenden.',
        )
      }}
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({})
export default class Conditions extends Vue {}
</script>

<style lang="scss" scoped>
@import '../styles/views/conditions-and-imprint.scss';
</style>
