<template>
  <div>
    <DesktopDocuments v-if="!isMobileSize" />
    <MobileDocuments v-if="isMobileSize" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import DesktopDocuments from '../components/documents/DesktopDocuments.vue'
import MobileDocuments from '../components/documents/MobileDocuments.vue'

@Component({
  components: {
    DesktopDocuments,
    MobileDocuments,
  },
})
export default class Documents extends Vue {
  isMobileSize = false

  mounted() {
    window.addEventListener('resize', this.checkWindowSize)
    this.checkWindowSize()
  }

  checkWindowSize() {
    if (window.innerWidth < 600) {
      this.isMobileSize = true
    } else {
      this.isMobileSize = false
    }
  }

  destroyed() {
    window.removeEventListener('resize', this.checkWindowSize)
  }
}
</script>

<style lang="scss" scoped></style>
