<template>
  <div class="imprint-area">
    <div class="title-area">
      <h2>{{ $t('Impressum') }}</h2>
    </div>
    <div class="card">
      <h3>{{ $t('Angaben gemäß') }} §&nbsp;5&nbsp;TMG</h3>
      <address>
        {{ $t('Hochschule für Wirtschaft und Recht Berlin') }}
        <br />Campus Lichtenberg <br />Fachbereich 2 <br />Haus 5
        <br />Alt-Friedrichsfelde 60 <br />10315 Berlin
      </address>
    </div>

    <div>
      <h3>{{ $t('Ansprechpartner') }}</h3>
      <div>Prof. Dr. Dagmar Monett Díaz</div>
      <div>
        <a href="mailto:dagmar.monett-diaz@hwr-berlin.de"
          >dagmar.monett-diaz@hwr-berlin.de</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({})
export default class Imprint extends Vue {}
</script>

<style lang="scss" scoped>
@import '../styles/views/conditions-and-imprint.scss';
</style>
