<template>
  <div class="login-screen">
    <div class="container">
      <form class="landing-area">
        <h1>Willkommen bei StudiDocs</h1>
        <div class="info-area">
          StudiDocs ist eine Anwendung, die es Studierenden des FB2 der HWR
          ermöglicht, Arbeiten, die sie während des Studiums erstellt haben, wie
          z.B. Praxistransferberichte oder Studienarbeiten, miteinander
          auszutauschen.
        </div>
        <div><img src="..\assets\images\Landing.png" /></div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({})
export default class LandingPage extends Vue {}
</script>

<style lang="scss" scoped>
@import '../styles/views/login';
</style>
