<template>
  <div class="login-screen">
    <div class="container">
      <form @submit.prevent="tryLogin">
        <div class="info-area">
          {{ $t('Um StudiDocs nutzen zu können, müssen Sie einen gültigen') }}
          <a href="/">Moodle</a>
          {{
            $t(
              'Account haben. Studierende müssen sich, bevor sie StudiDocs verwenden können, einloggen und anschließend einen Studierendenaccount durch  eine Lehrkraft einrichten lassen.',
            )
          }}<br />
        </div>

        <div class="form-group">
          <label for="username">{{ $t('Benutzername') }}:</label>
          <input
            v-model="username"
            type="text"
            name="username"
            maxlength="100"
            v-bind:placeholder="$t('Benutzername')"
            required
          />
          <small id="usernameHelpBlock">
            {{ $t('Benutzen Sie Ihre Moodle-Nutzerkennung!') }}
          </small>
        </div>
        <div class="form-group">
          <label for="password">{{ $t('Passwort') }}:</label>
          <input
            v-model="password"
            type="password"
            name="password"
            v-bind:placeholder="$t('Passwort')"
            required
          />
          <small id="passwordHelpBlock">
            {{ $t('Benutzen Sie das zugehörige Moodle-Passwort!') }}
          </small>
        </div>
        <input
          v-if="notloading"
          class="btn"
          type="submit"
          value="Login"
          id="submitBtn"
          data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order"
        />
        <button v-else class="btn" type="button">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          {{ $t('Logindaten werden geprüft...') }}
        </button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

import auth from '@/services/auth.service'
import { ValidationErrors, DefaultMessages } from '@/utils/validationErrors'

@Component({})
export default class Login extends Vue {
  private username: string = ''
  private password: string = ''

  private errors = new ValidationErrors()

  notloading: boolean = true

  private tryLogin() {
    if (this.username && this.password) {
      auth
        .login(this.username, this.password)
        .then((reponse) => {
          this.password = ''
          this.username = ''
          this.$router.push({ path: 'overview', query: { skip: '0' } })
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value: this.$tc('Sie wurden erfolgreich angemeldet!'),
          })
        })
        .catch((error) => {
          if ((error = 'INVALID_CREDENTIALS'))
            (<any>this).$eventHub.$emit('open-infobox', {
              value: this.$tc(
                'Der Login konnte nicht durchgeführt werden. Die angegebenen Nutzerdaten sind falsch!',
              ),
              type: 'error',
            })
        })
    } else {
      //no input
    }

    /* this.errors = auth.checkCredentials(this.username, this.password);
        if (!this.errors.has()) {
            this.startLoading()
             auth.login(this.username, this.password).then(
                () => {
                    //login successful
                    //if the site was redirected, go to the original page (see src/router.ts)
                    if (this.$route.query.redirect) {
                        this.$router.replace(this.$route.query.redirect as string);
                    } else {
                        this.notloading = true;
                        this.password = "";
                        this.username = "";
                        this.$router.push("/overview");
                    }
                },
                (reason) => {
                    //login failed
                    if (reason && reason.wrongCredentials) {
                        this.errors.add({field: 'credentials', msg: DefaultMessages.WRONG_DATA});
                    }
                    this.notloading = true;
                    this.password = "";
                    // else: server is not responding. This case is handled by HttpService
                }
            ); 
        }*/
  }

  startLoading() {
    this.notloading = false
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/views/login';
</style>
