<template>
  <div class="student-admin-area">
    <div class="topmenu-area">
      <div class="topmenu-button-area">
        <Button
          v-bind:text="$t('Zugang erstellen')"
          icon="create"
          :coloredWhite="false"
          @btn-clicked="manageStudentEntry"
        />
      </div>
      <div class="search-area">
        <div class="search-group">
          <div class="icon">
            <Icon name="search" color="white" />
          </div>
          <input
            v-model="studentSearch"
            type="text"
            name="search"
            maxlength="100"
            v-bind:placeholder="$t('Suche')"
          />
        </div>
      </div>
    </div>
    <div class="info-area">
      <p>
        <b>{{
          $t(
            'Hier können temporäre Zugänge für Studierende eingerichtet werden.',
          )
        }}</b>
        <br />
        {{
          $t(
            'Mit einem solchen Zugang können Studierende ihre Arbeiten hochladen, diese müssen aber noch von Ihnen freigeschaltet werden, bevor sie öffentlich für alle Besucher der Seite zugänglich sind.',
          )
        }}
      </p>
    </div>
    <div class="content-area">
      <table>
        <thead>
          <td>{{ $t('Studentenkürzel') }}</td>
          <td>{{ $t('ausstehende Veröffentlichungen') }}</td>
          <td>{{ $t('Gültig bis') }}</td>
          <td>{{ $t('Bearbeiten') }}</td>
          <td>{{ $t('Löschen') }}</td>
        </thead>
        <tbody>
          <tr
            v-for="(studentAccount, index) in getStudentAccountList"
            :key="index"
          >
            <td>{{ studentAccount.authWithUserLogin.userName }}</td>
            <td>
              <span
                class="release-document-item"
                v-for="releaseRequest in getUnfullifiedReleaseRequests(
                  studentAccount,
                )"
                :key="releaseRequest.id"
                @click="
                  openDocument(releaseRequest.document, releaseRequest.id)
                "
              >
                {{ releaseRequest.document.title }}
              </span>
              <span
                v-if="getUnfullifiedReleaseRequests(studentAccount).length == 0"
              >
                <b>{{ $t('Keine ausstehenden Veröffentlichungen') }}</b>
              </span>
            </td>
            <td>{{ getFormatedDate(studentAccount.expiryDate) }}</td>
            <td>
              <Button
                icon="change"
                :border="false"
                @btn-clicked="manageStudentEntry(studentAccount)"
              />
            </td>
            <td>
              <Button
                icon="deleteUser"
                :border="false"
                @btn-clicked="deleteStudentEntry(studentAccount)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ManageStudentModal
      v-if="isManageStudentModalActive"
      :title="isStudentSet() ? 'Bearbeiten' : 'Erstellen'"
      @close="closeManageModal()"
      :studentAccount="isStudentSet() ? clickedStudentEntry : undefined"
      @update="sendStudentAccountPost(true, $event)"
      @create="sendStudentAccountPost(false, $event)"
    />
    <QuestionModal
      v-if="isQuestionModalActive"
      :studentEntry="clickedStudentEntry"
      @close="closeDeleteModal()"
      @confirm="sendDeleteStudentAccount($event)"
    />
    <ViewDocumentModal
      v-if="isViewDocumentModalActive"
      @close="isViewDocumentModalActive = false"
      :document="activeDocument"
      :releaseView="true"
      @release="sendReleaseAnswer(true, $event)"
      @abort="sendReleaseAnswer(false, $event)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Button from '../components/utils/Button.vue'
import Icon from '../components/utils/Icon.vue'
import ManageStudentModal from '../components/modal/ManageStudentModal.vue'
import ViewDocumentModal from '../components/modal/ViewDocumentModal.vue'
import QuestionModal from '../components/modal/QuestionModal.vue'
import { Watch } from 'vue-property-decorator'
import { StudentAccount } from '../model/studentAccount.model'
import {
  refreshStudentAccount,
  addStudentAccount,
  deleteStudentAccount,
} from '../services/api/studentAccounts.service'
import { answerReleaseRequest } from '../services/api/releaseRequest.service'

@Component({
  components: {
    Button,
    Icon,
    ManageStudentModal,
    QuestionModal,
    ViewDocumentModal,
  },
})
export default class StudentAdministration extends Vue {
  isManageStudentModalActive: boolean = false
  isQuestionModalActive: boolean = false
  clickedStudentEntry: StudentAccount | undefined
  studentSearch: string = ''

  isViewDocumentModalActive: boolean = false
  activeDocument: Document | undefined
  activeReleaseId: string = ''

  studentAccounts: StudentAccount[] = []

  @Watch('$store.state.studentAccounts') onStudentAccountsStateChange() {
    this.getStudentAccountsFromStore()
  }

  mounted() {
    this.getStudentAccountsFromStore()
  }

  getStudentAccountsFromStore() {
    this.studentAccounts = this.$store.state.studentAccounts
  }

  sendStudentAccountPost(
    updateStudentAccount: boolean,
    studentAccountEntry: { userName?: string; expiryDate: string; id?: string },
  ) {
    if (updateStudentAccount) {
      if (studentAccountEntry.expiryDate && studentAccountEntry.id) {
        refreshStudentAccount({
          expiryDate: studentAccountEntry.expiryDate,
          studentAccountId: studentAccountEntry.id,
        })
          .then((response) => {
            if (response.id == studentAccountEntry.id) {
              ;(<any>this).$eventHub.$emit('open-infobox', {
                value: this.$tc(
                  'Die Aktion wurde erfolgreich durchgeführt. Der Eintrag wurde aktualisiert.',
                ),
              })
              this.$store.dispatch('getStudentAccountsState')
            } else {
              ;(<any>this).$eventHub.$emit('open-infobox', {
                value: this.$tc(
                  'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
                ),
                type: 'error',
              })
            }
          })
          .catch((error) => {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value: this.$tc(
                'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
              ),
              type: 'error',
            })
          })
      } else {
        ;(<any>this).$eventHub.$emit('open-infobox', {
          value: this.$tc(
            'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
          ),
          type: 'error',
        })
      }
    } else {
      if (studentAccountEntry.expiryDate && studentAccountEntry.userName) {
        addStudentAccount({
          expiryDate: studentAccountEntry.expiryDate,
          studentName: studentAccountEntry.userName,
        })
          .then((response) => {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value: this.$tc(
                'Die Aktion wurde erfolgreich durchgeführt. Der Eintrag wurde angelegt.',
              ),
            })
            this.$store.dispatch('getStudentAccountsState')
          })
          .catch((error) => {
            if (error.data.error.code === 'EXISTING_STUDENT') {
              ;(<any>this).$eventHub.$emit('open-infobox', {
                value: this.$tc(
                  'Ein Zugang für diesen Studenten existiert bereits.',
                ),
                type: 'error',
              })
            } else {
              ;(<any>this).$eventHub.$emit('open-infobox', {
                value: this.$tc(
                  'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
                ),
                type: 'error',
              })
            }
          })
      } else {
        ;(<any>this).$eventHub.$emit('open-infobox', {
          value: this.$tc(
            'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
          ),
          type: 'error',
        })
      }
    }
  }

  sendReleaseAnswer(willDocumentBeReleased: boolean, message: string) {
    this.isViewDocumentModalActive = false
    if (this.activeReleaseId) {
      answerReleaseRequest({
        requestId: this.activeReleaseId,
        isDocumentAccepted: willDocumentBeReleased,
        message: message,
      })
        .then((response) => {
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Die Aktion wurde erfolgreich durchgeführt. Die Antwort zur Veröffentlichung wurde eingetragen.',
            ),
          })
          this.$store.dispatch('getStudentAccountsState')
          this.$store.dispatch('getDocumentsState')
          this.$store.dispatch('getOwnDocumentsState')
        })
        .catch((error) => {
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
            ),
            type: 'error',
          })
        })
    } else {
      ;(<any>this).$eventHub.$emit('open-infobox', {
        value: this.$tc(
          'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
        ),
        type: 'error',
      })
    }
  }

  openDocument(document: Document, releaseId: string) {
    this.activeDocument = document
    this.activeReleaseId = releaseId
    this.isViewDocumentModalActive = true
  }

  get getStudentAccountList() {
    return this.studentAccounts.filter((studentAccount) => {
      return (
        JSON.stringify(studentAccount)
          .toLowerCase()
          .includes(this.studentSearch) ||
        JSON.stringify(studentAccount)
          .toUpperCase()
          .includes(this.studentSearch) ||
        JSON.stringify(studentAccount).includes(this.studentSearch)
      )
    })
  }

  getUnfullifiedReleaseRequests(studentAccount: StudentAccount) {
    return studentAccount.releaseRequests.filter((releaseRequest) => {
      return releaseRequest.releaseState == 0
    })
  }

  getFormatedDate(dateString: string) {
    let date = new Date(dateString)
    return `${date.getDate()}.${
      date.getMonth() + 1
    }.${date.getFullYear()} ${date.getHours()}:${
      String(date.getMinutes()).length == 1
        ? '0' + date.getMinutes()
        : date.getMinutes()
    } `
  }

  manageStudentEntry(studentAccount?: StudentAccount) {
    if (this.isManageStudentModalActive) {
      this.isManageStudentModalActive = false
      this.clickedStudentEntry = undefined
    } else {
      this.isManageStudentModalActive = true
      if (studentAccount) {
        this.clickedStudentEntry = studentAccount
      }
    }
  }

  closeManageModal() {
    this.clickedStudentEntry = undefined
    this.isManageStudentModalActive = !this.isManageStudentModalActive
  }

  deleteStudentEntry(studentAccount: StudentAccount) {
    if (this.isQuestionModalActive) {
      this.isQuestionModalActive = false
      this.clickedStudentEntry = undefined
    } else {
      this.isQuestionModalActive = true
      this.clickedStudentEntry = studentAccount
    }
  }

  closeDeleteModal() {
    this.clickedStudentEntry = undefined
    this.isQuestionModalActive = !this.isQuestionModalActive
  }

  sendDeleteStudentAccount(studentAccountId: string) {
    //send delete request for studentAccount to API
    //TODO
    if (studentAccountId) {
      deleteStudentAccount({ studentAccountId: studentAccountId })
        .then((response: any) => {
          if (response.disabled == true) {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value:
                'Die Aktion wurde erfolgreich durchgeführt. Der Eintrag wurde gelöscht.',
            })
            this.$store.dispatch('getStudentAccountsState')
          } else {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value:
                'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
              type: 'error',
            })
          }
        })
        .catch((error) => {
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value:
              'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
            type: 'error',
          })
        })
    } else {
      ;(<any>this).$eventHub.$emit('open-infobox', {
        value:
          'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
        type: 'error',
      })
    }
  }

  isStudentSet() {
    return this.clickedStudentEntry != undefined
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/views/studentadministration.scss';
</style>
