<template>
  <div class="document-area">
    <div class="topmenu-area">
      <div class="topmenu-button-area">
        <Button
          v-if="!isChangeModeOn"
          v-bind:text="$t('Bearbeiten aktivieren')"
          icon="change"
          :coloredWhite="false"
          @btn-clicked="isChangeModeOn = true"
        />
        <Button
          v-if="isChangeModeOn"
          v-bind:text="$t('Dokumentenansicht aktivieren')"
          icon="search"
          :coloredWhite="false"
          @btn-clicked="isChangeModeOn = false"
        />
      </div>
      <div class="title-area">
        <h2>{{ $t('Persönlich bereitgestellte Dokumente') }}</h2>
      </div>
      <div class="search-area">
        <div class="search-group">
          <div class="icon">
            <Icon name="search" color="white" />
          </div>

          <input
            v-model="documentSearch"
            type="text"
            name="search"
            maxlength="100"
            v-bind:placeholder="$t('Suche')"
          />
        </div>
      </div>
    </div>
    <div class="content-area">
      <div class="detailed-view">
        <div class="no-documents-info-banner" v-if="getDocuments.length == 0">
          <b>{{ $t('Noch keine Dokumente vorhanden.') }}</b>
        </div>
        <table class="hoverTable">
          <tr v-for="(document, index) in getDocuments" :key="index">
            <td>
              <Icon
                v-if="document.releaseRequest.releaseState == 1"
                name="fileReleased"
                color="green"
              />
              <Icon
                v-if="
                  document.releaseRequest.releaseState == 2 ||
                  document.releaseRequest.releaseState == undefined
                "
                name="fileAborted"
                color="red"
              />
              <Icon
                v-if="document.releaseRequest.releaseState == 0"
                name="filePending"
                color="gray"
              />
            </td>
            <td>
              <span v-if="document.releaseRequest.releaseState == 1">
                <b>{{ $t('veröffentlicht') }}</b>
              </span>
              <span
                v-if="
                  document.releaseRequest.releaseState == 2 ||
                  document.releaseRequest.releaseState == undefined
                "
              >
                <b>{{ $t('abgelehnt') }}</b>
              </span>
              <span v-if="document.releaseRequest.releaseState == 0">
                <b>{{ $t('ausstehend') }}</b>
              </span>
            </td>

            <td>
              <b>{{ $t('Titel') }}:</b>
              {{ document.title }}
            </td>
            <td>
              <b>{{ $t('Dozent') }}:</b>
              {{ document.docent }}
            </td>
            <td>
              <b>{{ $t('Art der Arbeit') }}:</b>
              {{ document.type }}
            </td>
            <td @click="setDocumentToActive(document)" class="icon-table">
              <Icon v-if="!isChangeModeOn" name="show" color="gray"></Icon>
              <Icon v-if="isChangeModeOn" name="change" color="gray"></Icon>
            </td>
            <td @click="deleteDocument(document.id)" class="icon-table">
              <Icon name="trash" class="icon" color="gray" />
            </td>
            <td v-if="document.releaseRequest.message != undefined">
              <b
                >{{ $t('Veröffentlichungsnotiz') }}:
                {{ document.releaseRequest.message }}</b
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
    <ViewDocumentModal
      v-if="!isChangeModeOn && isModalActive"
      @close="isModalActive = false"
      :document="activeDocument"
      :detailedUserView="true"
    />
    <UploadDocumentModal
      v-if="isChangeModeOn && isModalActive"
      @close="isModalActive = false"
      :document="activeDocument"
      :changeDocument="true"
      @update="sendDocumentUpdatePost($event)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Icon from '../components/utils/Icon.vue'
import Button from '../components/utils/Button.vue'
import UploadModal from '../components/modal/UploadModal.vue'
import { Document } from '@/model/document.model'
import { Watch } from 'vue-property-decorator'
import ViewDocumentModal from '../components/modal/ViewDocumentModal.vue'
import UploadDocumentModal from '../components/modal/UploadDocumentModal.vue'
import {
  updateDocument,
  deleteDocument,
} from '../services/api/documents.service'

@Component({
  components: {
    Icon,
    Button,
    UploadModal,
    ViewDocumentModal,
    UploadDocumentModal,
  },
})
export default class UserArea extends Vue {
  documentSearch: string = ''
  documentList: Document[] = []

  isViewDocumentModalActive: boolean = false
  activeDocument: Document | undefined

  isModalActive: boolean = false

  isChangeModeOn: boolean = false

  skipFilter: number = 0

  @Watch('$store.state.ownDocuments') onOwnDocumentStateChange() {
    this.documentList = this.getUserDocuments()
  }

  deleteDocument(documentId: string) {
    if (documentId) {
      let data = {
        id: documentId,
      }
      deleteDocument(data)
      this.$router.go(0)
    }
  }

  mounted() {
    this.documentList = this.getUserDocuments()
  }

  getUserDocuments() {
    return this.$store.state.ownDocuments
  }

  setDocumentToActive(document: Document) {
    this.activeDocument = document
    this.isModalActive = true
  }

  sendDocumentUpdatePost(document: any) {
    if (document) {
      let data = {
        id: document.id,
        title: document.title,
        language: document.language,
        type: document.type,
        year: document.year,
        course: document.course,
        docent: document.docent,
        company: document.company,
        restricted: document.restricted,
        abstract: document.abstract,
        student: document.student,
        privacyState: document.privacyState,
        ...(document.file && { file: document.file }),
        searchWords: document.searchWords,
      }
      updateDocument(data)
        .then((response) => {
          ;(<any>this).eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Die Aktion wurde erfolgreich durchgeführt. Das Dokument wurde aktualisiert.',
            ),
          })
          if (this.$store.getters.getUserRole == 'docent') {
            this.$store.dispatch('getStudentAccountsState')
          }
          this.$store.dispatch('getDocumentsState', this.skipFilter)
          this.$store.dispatch('getOwnDocumentsState', this.skipFilter)
        })
        .catch((error) => {
          ;(<any>this).eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
            ),
            type: 'error',
          })
        })
      this.$router.go(0)
    } else {
      ;(<any>this).eventHub.$emit('open-infobox', {
        value: this.$tc(
          'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
        ),
        type: 'error',
      })
    }
  }

  get getDocuments() {
    return this.documentList.filter((document) => {
      if (this.documentSearch) {
        return (
          JSON.stringify(document)
            .toLowerCase()
            .includes(this.documentSearch) ||
          JSON.stringify(document)
            .toUpperCase()
            .includes(this.documentSearch) ||
          JSON.stringify(document).includes(this.documentSearch)
        )
      } else {
        return true
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/views/userarea.scss';

.hoverTable {
  border-collapse: collapse;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
}

.hoverTable tr:hover {
  background-color: darken($light, 10%);
}

.hoverTable .icon-table {
  width: 1.5rem;
  cursor: pointer;
  :hover {
    opacity: 0.5;
  }
}

.hoverTable td {
  padding: 0.75rem;
}

.hoverTable .icon {
  width: 50px;
}
</style>
