<template>
  <Modal
    centered
    :title="$t('Filter zur Suche einstellen')"
    @close="close"
    @reset="reset"
    @confirm="confirm"
  >
    <div class="document-upload-area">
      <div class="inner-upload-area">
        <div class="two-column-input">
          <div class="form-group">
            <label>{{ $t('Art der Arbeit') }}</label>
            <select name="type" v-model="filterOptions.type">
              <option value>{{ $t('keine Auswahl') }}</option>
              <option value="Praxistransferbericht">
                Praxistransferbericht
              </option>
              <option value="Studienarbeit">Studienarbeit</option>
              <option value="Bachelorarbeit">Bachelorarbeit</option>
              <option value="Others">{{ $t('Sonstiges') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ $t('Language') }}</label>
            <select name="language" v-model="filterOptions.language">
              <option value>{{ $t('keine Auswahl') }}</option>
              <option value="deutsch">{{ $t('deutsch') }}</option>
              <option value="englisch">{{ $t('englisch') }}</option>
            </select>
          </div>
        </div>
        <div class>
          <Checkbox
            v-bind:label="$t('Nach einem Jahr Filtern?')"
            v-model="addYear"
          />
          <div class="form-group yearInput" v-if="addYear">
            <label>{{ $t('Veröffentlichungsjahr') }}</label>
            <input
              v-model="filterOptions.year"
              min="2010"
              :max="String(new Date().getFullYear())"
              type="number"
              name="year"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Modal from './Modal.vue'
import { Prop } from 'vue-property-decorator'
import Button from '@/components/utils/Button.vue'
import Checkbox from '@/components/utils/Checkbox.vue'

@Component({
  components: {
    Modal,
    Button,
    Checkbox,
  },
})
export default class FilterModal extends Vue {
  public filterOptions = {
    type: '',
    year: new Number(),
    language: '',
  }

  public addYear = false

  close() {
    this.$emit('close')
  }

  confirm() {
    if (this.addYear) {
      const correctInput = this.checkYearValue()
      if (correctInput) {
        this.finishFilter()
      } else {
        this.createMessage('Bitte geben Sie ein gültiges Datum ein!', 'error')
      }
    } else {
      delete this.filterOptions['year']
      this.finishFilter()
    }
  }

  finishFilter() {
    this.$emit('confirm')
    this.$emit('filterDocuments', this.filterOptions, true)
    this.$emit('close')
  }

  checkYearValue(): boolean {
    const thisYear = new Date().getFullYear()
    if (2010 < this.filterOptions.year && this.filterOptions.year <= thisYear) {
      if (Number.isInteger(Number(this.filterOptions.year))) {
        return true
      }
      return false
    } else {
      return false
    }
  }

  createMessage(value: string, type: string) {
    ;(<any>this).$eventHub.$emit('open-infobox', {
      value: this.$tc(value),
      type: type,
    })
  }

  reset() {
    this.$emit('close')
  }

  mounted() {}
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/upload-document-modal';

.input-size {
  margin-bottom: 10px;
}

.yearInput {
  margin-top: 1rem;
  width: 47.5%;
}
</style>
