<template>
  <Modal
    centered
    :title="$t(title) + $t(' eines Studentenzugangs')"
    @close="close"
    @reset="reset"
    @confirm="confirm"
  >
    <div class="manage-modal-area">
      <div class="form-group">
        <label>{{ $t('Nutzerkennung') }}:</label>
        <input
          v-model="studentname"
          type="text"
          name="studentname"
          maxlength="100"
          v-bind:placeholder="$t('Nutzerkennung')"
          :disabled="title == 'Bearbeiten'"
          required
        />
        <small v-if="title != 'Bearbeiten'" id="usernameHelpBlock">
          {{ $t('Geben Sie bitte die Nutzerkennung des Nutzers ein!') }}
        </small>
      </div>
      <div class="form-group">
        <label>{{ $t('Zugangsenddatum') }}:</label>
        <input v-model="startdate" type="date" name="startdate" required />
        <small id="endDateHelpBlock">
          {{
            $t(
              'Geben Sie bitte das Datum an, bis wann der Nutzer Zugang haben darf!',
            )
          }}
        </small>
      </div>
      <div class="form-group">
        <label>{{ $t('Zugangsenduhrzeit') }}:</label>
        <input v-model="starttime" type="time" name="starttime" required />
        <small id="startTimeHelpBlock">
          {{
            $t(
              'Geben Sie bitte die Uhrzeit an, bis wann der Nutzer Zugang haben darf!',
            )
          }}
        </small>
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Modal from './Modal.vue'
import { Prop } from 'vue-property-decorator'

import dateFns from 'date-fns'
import { StudentAccount } from '../../model/studentAccount.model'

@Component({
  components: {
    Modal,
  },
})
export default class ManageStudentModal extends Vue {
  @Prop({ required: true }) title!: string
  @Prop({ required: true }) studentAccount!: StudentAccount | undefined

  studentname: string = ''
  startdate: string = ''
  starttime: string = ''

  mounted() {
    if (this.studentAccount) {
      this.studentname = this.studentAccount.authWithUserLogin.userName
      this.startdate = dateFns.format(
        this.studentAccount.expiryDate,
        'YYYY-MM-DD',
      )
      this.starttime = dateFns.format(this.studentAccount.expiryDate, 'HH:mm')
    }
  }

  confirm() {
    if (this.studentname && this.startdate && this.starttime) {
      let expiryDate = new Date(`${this.startdate} ${this.starttime}`)
      expiryDate.setSeconds(expiryDate.getSeconds() + 1 * 60 * 60) //expiryDate is shifted by 1 hours in the past
      if (this.title == 'Bearbeiten') {
        if (this.studentAccount) {
          this.$emit('update', {
            expiryDate: expiryDate,
            id: this.studentAccount.id,
          })
        } else {
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
            ),
            type: 'error',
          })
          this.$emit('close')
        }
      }
      if (this.title == 'Erstellen') {
        this.$emit('create', {
          userName: this.studentname,
          expiryDate: expiryDate,
        })
      }
      this.$emit('close')
    } else {
      ;(<any>this).$eventHub.$emit('open-infobox', {
        value: this.$tc(
          'Es wurden nicht alle Felder ausgefüllt. Die Aktion kann nicht durchgeführt werden.',
        ),
        type: 'error',
      })
    }
  }

  close() {
    this.$emit('close')
  }

  reset() {
    this.studentname = ''
    this.startdate = ''
    this.starttime = ''
    this.$emit('close')
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/manage-modal.scss';
</style>
