<template>
  <div>
    <LargeModal centered :title="document.title" @close="close">
      <div class="content-area">
        <div class="item">
          <b>{{ $t('Dozent') }}:</b> {{ document.docent }}
        </div>
        <div class="item">
          <b>{{ $t('Art der Arbeit') }}:</b> {{ document.type }}
        </div>
        <div class="item">
          <b>{{ $t('Language') }}:</b> {{ document.language }}
        </div>
        <div class="item">
          <b>{{ $t('Student') }}:</b> {{ document.student }}
        </div>
      </div>
      <div class="download-label" @click="downloadDocument()">Download</div>
    </LargeModal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import LargeModal from './LargeModal.vue'

import { Document } from '@/model/document.model'
import { getDocumentPDF, getFile } from '@/services/api/documents.service'

@Component({
  components: {
    LargeModal,
  },
})
export default class MobileViewDocument extends Vue {
  pdfurl: string = ''
  filledSearchWords: string[] = []
  gotPDFFile: boolean = false
  blob: any

  @Prop({ required: true }) document!: Document

  mounted() {
    this.getUrlOfPDF()
    this.getSearchWordList()
  }

  close() {
    this.$emit('close')
  }

  getUrlOfPDF() {
    getDocumentPDF(this.document.id, this.document.fileName)
      .then((response: any) => {
        this.gotPDFFile = true
        this.pdfurl = response
      })
      .catch((error) => {})
    getFile(this.document.id, this.document.fileName)
      .then((response: any) => {
        this.blob = response
      })
      .catch((error) => {})
  }

  private getSearchWordList(): void {
    if (this.document.searchWords) {
      this.filledSearchWords = this.document.searchWords.map((x: any) => {
        const word = this.upperFirstChar(x.word)
        return word
      })
    }
  }

  private upperFirstChar(word: string): string {
    const finishWord = word.charAt(0).toUpperCase() + word.slice(1)
    return finishWord
  }

  downloadDocument() {
    const link = document.createElement('a')
    link.href = this.pdfurl
    link.setAttribute('download', `${this.document.title}.pdf`)
    document.body.appendChild(link)
    link.click()
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/view-document-modal';

.content-area {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;

  .item {
    margin-bottom: 0.5rem;
  }
}

.download-label {
  color: $hwr-red;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.25rem;
}
</style>
