<template>
  <transition name="modal">
    <div class="modal-mask" id="modal-outer">
      <div
        class="modal-container big"
        :class="{ fixed: fixedheight }"
        id="modal-container"
      >
        <div class="modal-header">
          <h3>{{ title }}</h3>
          <button type="button" aria-label="Close" @click="$emit('close')">
            ×
          </button>
        </div>

        <div class="modal-body">
          <slot></slot>
        </div>

        <div class="modal-footer">
          <button class="btn" @click="$emit('reset')">
            {{ $t('Abbrechen') }}
          </button>
          <button class="btn btn-primary" @click="$emit('confirm')">
            {{ $t('Bestätigen') }}
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { Watch, Prop } from 'vue-property-decorator'

@Component({})
export default class Modal extends Vue {
  @Prop({ required: true }) title!: string
  @Prop({ required: false, default: false }) filter!: boolean
  @Prop({ required: false, default: false }) info!: boolean
  @Prop({ required: false, default: false }) fixedheight!: boolean

  mounted() {
    document.addEventListener('click', (e: Event) => this.clicked(e))
  }

  clicked(e: Event) {
    let target = <HTMLElement>e.target
    if (target) {
      if (target.id == 'modal-outer') {
        this.$emit('close')
      }
    }
  }
}
</script>
