<template>
  <transition name="modal">
    <div class="modal-mask" id="modal-outer">
      <button
        class="edge-button"
        type="button"
        aria-label="Close"
        @click="$emit('close')"
      >
        ×
      </button>
      <div class="picture-modal-container">
        <!-- :style="{'width':getPictureWidth()+'px'}" -->
        <pdf
          class="pdf-view"
          :src="url"
          :page="page"
          style="width: 30%"
          :style="{ width: getPictureWidth() + 'px' }"
        />
        <!-- has to be changed -->
        <!--  -->
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import pdf from 'vue-pdf'

import { Watch, Prop } from 'vue-property-decorator'

@Component({
  components: {
    pdf,
  },
})
export default class PictureModal extends Vue {
  @Prop({ required: true }) url!: string
  @Prop({ required: true }) page!: number

  mounted() {
    document.addEventListener('click', (e: Event) => this.clicked(e))
  }

  getPictureWidth() {
    return window.innerHeight * 0.95 * 0.7 //standard A4 ratio between width and height is ~70%
  }

  clicked(e: Event) {
    let target = <HTMLElement>e.target
    if (target) {
      if (target.id == 'modal-outer') {
        this.$emit('close')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.pdf-view /deep/ span {
  transform: scale(1) !important;
}
</style>
