<template>
  <SmallModal
    centered
    v-bind:title="$t('Löschung eines Studentenzugangs')"
    @close="close"
    @reset="reset"
    @confirm="confirm"
  >
    <p>
      <!-- Sie sind dabei den Zugang für die Benutzerkennung <b>{{studentEntry.authWithUserLogin.userName}}</b> zu löschen.  -->
      {{
        $t('deleteUserText', {
          userName: studentEntry.authWithUserLogin.userName,
        })
      }}
      <br />
      {{ $t('Wollen Sie fortfahren?') }}
    </p>
  </SmallModal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import SmallModal from './SmallModal.vue'
import { Prop } from 'vue-property-decorator'
import { StudentAccount } from '../../model/studentAccount.model'

@Component({
  components: {
    SmallModal,
  },
})
export default class QuestionModal extends Vue {
  @Prop({ required: true }) studentEntry!: StudentAccount

  close() {
    this.$emit('close')
  }

  confirm() {
    this.$emit('confirm', this.studentEntry.id)
    this.$emit('close')
  }

  reset() {
    this.$emit('close')
  }
}
</script>

<style lang="scss" scoped></style>
