<template>
  <transition name="modal">
    <div class="modal-mask" id="small-modal-outer">
      <div class="modal-container small" id="small-modal-container">
        <div class="modal-header">
          <h3>{{ title }}</h3>
          <button type="button" aria-label="Close" @click="$emit('close')">
            ×
          </button>
        </div>

        <div class="modal-body">
          <slot></slot>
        </div>

        <div class="modal-footer">
          <button class="btn btn-light" @click="$emit('reset')">
            {{ $t('Abbrechen') }}
          </button>
          <button class="btn btn-primary" @click="$emit('confirm')">
            {{ $t('Bestätigen') }}
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({})
export default class SmallModal extends Vue {
  @Prop({ required: true }) title!: string

  mounted() {
    document.addEventListener('click', (e: Event) => this.clicked(e))
  }

  clicked(e: Event) {
    let target = <HTMLElement>e.target
    if (target) {
      if (target.id == 'small-modal-outer') {
        this.$emit('close')
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
