<template>
  <LargeModal
    centered
    :title="
      changeDocument ? $t('Dokument bearbeiten') : $t('Dokument hochladen')
    "
    @close="close"
    :type="changeDocument ? 'change' : 'upload'"
    @upload="sendDocumentPost(false)"
    @change="sendDocumentPost(true)"
  >
    <div class="document-upload-area">
      <div class="inner-upload-area">
        <div class="form-group">
          <label>{{ $t('Titel') }}</label>
          <input
            v-model="document.title"
            type="text"
            name="title"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="200"
            v-bind:placeholder="$t('Geben Sie den Titel des Dokuments an!')"
            required
          />
        </div>
        <div class="form-group">
          <label>{{ $t('Kurzfassung') }}</label>
          <textarea
            v-model="document.abstract"
            rows="6"
            type="text"
            minlength="50"
            maxlength="1500"
            v-bind:placeholder="
              $t('Geben Sie die Kurzfassung des Dokuments an!')
            "
            required
          ></textarea>
        </div>
        <div class="two-column-input">
          <div class="form-group">
            <label>{{ $t('Schlagwörter') }}</label>
            <input
              class="input-size"
              id="searchWordInput"
              type="text"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="20"
              v-bind:placeholder="
                $t('Geben Sie passende Schlagwörter des Dokuments an!')
              "
            />
            <button
              class="btn btn-primary btn-position"
              @click="addValueToList()"
            >
              {{ $t('Hinzufügen') }}
            </button>
            <span
              class="search-word-label"
              v-for="(word, index) in filledSearchWords"
              :key="index"
            >
              {{ word }}
              <button
                type="button"
                aria-label="Close"
                @click="clickedWord(index)"
              >
                ×
              </button>
            </span>
          </div>
          <div class="form-group">
            <label>{{ $t('Art der Arbeit') }}</label>
            <select v-model="document.type" name="type">
              <option value="Praxistransferbericht">
                Praxistransferbericht
              </option>
              <option value="Studienarbeit">Studienarbeit</option>
              <option value="Bachelorarbeit">Bachelorarbeit</option>
              <option value="Others">{{ $t('Sonstiges') }}</option>
            </select>
          </div>
        </div>
        <div class="two-column-input">
          <div class="form-group">
            <label>{{ $t('Studiengang') }}</label>
            <select v-model="document.course" name="type">
              <option
                v-for="(course, index) in courseList"
                :key="index"
                :value="course"
              >
                {{ course }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ $t('Unternehmen') }}</label>
            <input
              v-model="document.company"
              type="text"
              name="company"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="100"
              v-bind:placeholder="
                $t('Geben Sie den Namen Ihres Unternehmens an!')
              "
              required
            />
          </div>
        </div>
        <div class="two-column-input">
          <div class="form-group">
            <label>{{ $t('Sprache') }}</label>
            <select name="language" v-model="document.language">
              <option value="deutsch">{{ $t('deutsch') }}</option>
              <option value="englisch">{{ $t('englisch') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ $t('Veröffentlichungsjahr') }}</label>
            <input
              v-model="document.year"
              min="2010"
              :max="String(new Date().getFullYear())"
              type="number"
              name="year"
              required
            />
          </div>
        </div>
        <div class="two-column-input">
          <div class="form-group">
            <label>{{ $t('Studentenname') }}</label>
            <input
              v-model="document.student"
              type="text"
              name="student"
              maxlength="100"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              v-bind:placeholder="$t('Geben Sie Ihren Namen an!')"
              required
            />
          </div>
          <div class="form-group">
            <label>{{ $t('Dozentenname') }}</label>
            <input
              v-model="document.docent"
              type="text"
              name="docent"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="100"
              v-bind:placeholder="
                $t('Geben Sie den Namen des prüfenden Dozentens an!')
              "
              required
            />
          </div>
        </div>
        <div class="two-column-input">
          <div class="form-group">
            <label>{{
              $t('Unterliegt das Dokument einem Sperrvermerk?')
            }}</label>
            <select v-model="document.restricted" name="restricted">
              <option :value="false">{{ $t('Nein') }}</option>
              <option :value="true">{{ $t('Ja') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ $t('Privatsphäreeinstellungen') }}</label>
            <select v-model="document.privacyState" name="privacyState">
              <option :value="0">
                {{ $t('Die Arbeit ist ohne Anmeldung sichtbar') }}
              </option>
              <option :value="1">
                {{ $t('nur Studenten und Dozenten dürfen die Arbeit sehen') }}
              </option>
              <option :value="2">
                {{ $t('nur Dozenten dürfen die Arbeit sehen') }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" v-if="!changeDocument">
          <label>{{ $t('Dateiauswahl') }}</label>
          <input @change="getFileFromDOM($event)" type="file" accept=".pdf" />
        </div>
        <div class v-if="changeDocument">
          <Checkbox
            v-bind:label="$t('Wollen Sie ein neues Dokument hochladen?')"
            v-model="addNewDocumentToChange"
          />
          <!-- @input="changeAddNewDocument($event)" -->
          <div class="form-group" v-if="addNewDocumentToChange">
            <label>{{ $t('Dateiauswahl') }}</label>
            <input @change="getFileFromDOM($event)" type="file" accept=".pdf" />
          </div>
        </div>
      </div>
    </div>
  </LargeModal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import LargeModal from './LargeModal.vue'
import { Prop } from 'vue-property-decorator'
import { Document } from '@/model/document.model'
import Button from '@/components/utils/Button.vue'
import Checkbox from '@/components/utils/Checkbox.vue'
import { getCourseList } from '../../utils/courseList.utils'
import { getDocumentPDF, getFile } from '../../services/api/documents.service'

@Component({
  components: {
    LargeModal,
    Button,
    Checkbox,
  },
})
export default class UploadDocumentModal extends Vue {
  @Prop({
    required: false,
    default: () => {
      return {
        title: '',
        language: 'deutsch',
        type: 'Praxistransferbericht',
        year: new Date().getFullYear(),
        course: '',
        docent: '',
        company: '',
        restricted: false,
        abstract: '',
        student: '',
        privacyState: 0,
        searchWords: [],
      }
    },
  })
  document!: Document
  @Prop({ required: false, default: false }) changeDocument!: boolean

  file: any
  backendFile: any
  addNewDocumentToChange: boolean = false
  courseList: string[] = []
  filledSearchWords: string[] = []

  close() {
    this.$emit('close')
  }

  clickedWord(index: number) {
    this.filledSearchWords.splice(index, 1)
    this.document.searchWords = this.filledSearchWords
  }

  addValueToList() {
    const element: any = document.getElementById('searchWordInput')
    if (element) {
      const word = element.value
      if (!word.includes(' ')) {
        if (!this.checkWordInList(word)) {
          this.filledSearchWords.push(word)
          this.document.searchWords = this.filledSearchWords
          element.value = ''
        } else {
          this.createMessage(
            'Das Wort ist bereits in dein angegebenen Wörtern vorhanden',
            'error',
          )
        }
      } else {
        this.createMessage(
          'Ein Schlagwort besteht nur aus einem Wort. Gib bitte nur ein Wort ein',
          'error',
        )
      }
    }
  }

  createMessage(value: string, type: string) {
    ;(<any>this).$eventHub.$emit('open-infobox', {
      value: this.$tc(value),
      type: type,
    })
  }

  checkWordInList(word: string): boolean {
    if (this.filledSearchWords.includes(word)) {
      return true
    } else {
      return false
    }
  }

  changeAddNewDocument(event: boolean) {
    this.addNewDocumentToChange = event
  }

  sendDocumentPost(willDocumentBeUpdated: boolean) {
    var self = this
    if (this.areAllDocumentParameterSet()) {
      if (willDocumentBeUpdated) {
        if (this.file) {
          this.$emit(
            'update',
            Object.assign(this.document, { file: this.file }),
          )
          this.$emit('close')
        } else {
          this.$emit('update', this.document)
          this.$emit('close')
        }
      } else if (this.file) {
        this.$emit('create', Object.assign(this.document, { file: this.file }))
        this.$emit('close')
      } else {
        this.createMessage(
          'Es wurde keine Datei ausgewählt! Geben Sie eine an, um fort zu fahren!',
          'error',
        )
      }
    } else {
      this.createMessage(
        'Es wurden nicht alle Felder ausgefüllt. Die Aktion kann nicht durchgeführt werden.',
        'error',
      )
    }
  }

  areAllDocumentParameterSet(): boolean {
    this.document.searchWords = this.filledSearchWords
    if (
      this.document.title &&
      this.document.language &&
      this.document.course &&
      this.document.docent &&
      this.document.company &&
      this.document.abstract &&
      this.document.student &&
      this.document.searchWords
    ) {
      return true
    } else {
      return false
    }
  }

  getFileFromBackend(documentId: string, fileName: string) {
    return new Promise(function (resolve, reject) {
      getFile(documentId, fileName)
        .then((response: any) => {
          resolve(response)
        })
        .catch((err) => {})
    })
  }

  getFileFromDOM(event: any) {
    this.file = event.target.files[0]
  }

  mounted() {
    this.courseList = getCourseList()
    this.getSearchWordList()
  }

  private getSearchWordList(): void {
    if (this.document.searchWords) {
      this.filledSearchWords = this.document.searchWords.map((x: any) => {
        const word = this.upperFirstChar(x.word)
        return word
      })
    }
  }

  private upperFirstChar(word: string): string {
    const finishWord = word.charAt(0).toUpperCase() + word.slice(1)
    return finishWord
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/upload-document-modal';

.input-size {
  margin-bottom: 10px;
}
</style>
