<template>
  <Modal centered title="Ich bin das UploadModal" @close="close" @reset="reset">
    <div class="upload-modal-area">
      <div class="form-group">
        <label>Titel</label>
        <input
          v-model="title"
          type="text"
          name="title"
          maxlength="200"
          placeholder="Titel"
          required
        />
      </div>
      <div class="form-group">
        <label>Name des Studenten</label>
        <input
          v-model="studentname"
          type="text"
          name="studentname"
          maxlength="100"
          placeholder="Studentenname"
          required
        />
      </div>
      <div class="form-group">
        <label>Studiengang</label>
        <input
          v-model="year"
          type="number"
          name="starttime"
          placeholder=""
          required
        />
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Modal from './Modal.vue'

@Component({
  components: {
    Modal,
  },
})
export default class UploadModal extends Vue {
  close() {
    this.$emit('close')
  }

  reset() {}
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/upload-modal';
</style>
