<template>
  <LargeModal centered :title="document.title" @close="close">
    <div style="display: flex; flex-direction: row">
      <div
        v-if="gotPDFFile"
        style="width: 35%; display: flex; flex-direction: row"
      >
        <div
          v-for="page in 1"
          @click="openBigPDFView(page)"
          style="
            cursor: pointer;
            max-width: 70%;
            border: 1px solid lightgray;
            margin-right: 0.5rem;
            margin-left: auto;
            margin-right: auto;
          "
          :key="page"
        >
          <pdf :src="pdfurl" :page="page" />
        </div>
      </div>

      <div class="abstract-information-area" style="width: 70%">
        <div class="info-header-area">{{ $t('Kurzfassung') }}</div>
        <div class="info-content-area">{{ document.abstract }}</div>
        <div class="download-area">
          <Button
            v-bind:text="$t('Dokument ansehen')"
            icon="view"
            :coloredWhite="false"
            @btn-clicked="openDocument()"
          />
          <Button
            v-bind:text="$t('Dokument herunterladen')"
            icon="download"
            :coloredWhite="false"
            @btn-clicked="downloadDocument()"
          />
        </div>
      </div>
    </div>
    <div
      class="lower-content-area"
      style="
        margin-top: 2rem;
        display: flex;
        flex-wrap: 1;
        justify-content: space-between;
      "
    >
      <div class="information-area">
        <div class="info-header-area">{{ $t('Art der Arbeit') }}</div>
        <div class="info-content-area">{{ document.type }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">{{ $t('Language') }}</div>
        <div class="info-content-area">{{ $t(document.language) }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">
          {{ $t('Veröffentlichungsjahr') }}
        </div>
        <div class="info-content-area">{{ document.year }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">{{ $t('Student') }}</div>
        <div class="info-content-area">{{ document.student }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">{{ $t('Dozent') }}</div>
        <div class="info-content-area">{{ document.docent }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">{{ $t('Unternehmen') }}</div>
        <div class="info-content-area">{{ document.company }}</div>
      </div>
      <div class="information-area">
        <div class="info-header-area">{{ $t('Schlagwörter') }}</div>
        <span
          class="search-word-label"
          v-for="(word, index) in filledSearchWords"
          :key="index"
          >{{ word }}</span
        >
      </div>
    </div>
    <div
      v-if="detailedUserView"
      style="
        margin-top: 2rem;
        display: flex;
        flex-wrap: 1;
        justify-content: space-around;
      "
    >
      <div class="information-area">
        <div class="info-header-area">
          {{ $t('Ist Sperrvermerk gesetzt?') }}
        </div>
        <div class="info-content-area">
          {{ document.restricted ? 'Ja' : 'Nein' }}
        </div>
      </div>
      <div class="information-area">
        <div class="info-header-area">
          {{ $t('Privatsphäreeinstellungen') }}
        </div>
        <div class="info-content-area">
          Dokument kann von
          {{
            document.privacyState == 0
              ? 'jedem'
              : document.privacyState == 1
              ? 'Studenten und Dozenten'
              : document.privacyState == 2
              ? 'Dozenten'
              : 'niemandem'
          }}
          gesehen werden
        </div>
      </div>
    </div>
    <div v-if="releaseView" class="release-view-area">
      <div class="release-header">{{ $t('Veröffentlichungsbereich') }}</div>
      <div class="form-group assignment-area">
        <label>{{ $t('Veröffentlichungsentscheidung') }}</label>
        <textarea
          v-model="releaseMessage"
          rows="1"
          type="text"
          maxlength="200"
          v-bind:placeholder="
            $t(
              'Geben Sie optional eine Begründung für Ihre Veröffentlichungsentscheidung an!',
            )
          "
          required
        ></textarea>
      </div>
      <div class="release-button-area">
        <button
          class="btn btn-primary"
          @click="$emit('release', releaseMessage)"
        >
          {{ $t('Dokument veröffentlichen') }}
        </button>
        <button class="btn btn-primary" @click="$emit('abort', releaseMessage)">
          {{ $t('Dokument ablehnen') }}
        </button>
      </div>
    </div>
    <PictureModal
      v-if="isBigPDFViewActive"
      :url="pdfurl"
      :page="activePageNumber"
      @close="isBigPDFViewActive = false"
    />
  </LargeModal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import pdf from 'vue-pdf'

import LargeModal from './LargeModal.vue'
import PictureModal from './PictureModal.vue'
import { Prop } from 'vue-property-decorator'
import { Document } from '@/model/document.model'
import { getDocumentPDF, getFile } from '../../services/api/documents.service'
import Button from '@/components/utils/Button.vue'

@Component({
  components: {
    LargeModal,
    pdf,
    PictureModal,
    Button,
  },
})
export default class ViewDocumentModal extends Vue {
  pdfurl: string = ''
  isBigPDFViewActive: boolean = false
  activePageNumber: number = 0
  gotPDFFile: boolean = false
  releaseMessage: string = ''
  filledSearchWords: string[] = []

  blob: any

  @Prop({ required: true }) document!: Document
  @Prop({ required: false, default: false }) detailedUserView!: boolean
  @Prop({ required: false, default: false }) releaseView!: boolean

  close() {
    if (!this.isBigPDFViewActive) this.$emit('close')
  }

  mounted() {
    this.getUrlOfPDF()
    this.getSearchWordList()
  }

  openDocument() {
    let blob = new Blob([this.blob.data], { type: 'application/pdf' })
    const link = document.createElement('a')
    link.href = URL.createObjectURL(blob)
    link.setAttribute('open', `${this.document.title}.pdf`)
    link.title = this.document.title + '.pdf'
    link.target = '_blank'
    link.click()
  }

  private getSearchWordList(): void {
    if (this.document.searchWords) {
      this.filledSearchWords = this.document.searchWords.map((x: any) => {
        const word = this.upperFirstChar(x.word)
        return word
      })
    }
  }

  private upperFirstChar(word: string): string {
    const finishWord = word.charAt(0).toUpperCase() + word.slice(1)
    return finishWord
  }

  openBigPDFView(page: number) {
    this.isBigPDFViewActive = true
    this.activePageNumber = page
  }

  getUrlOfPDF() {
    getDocumentPDF(this.document.id, this.document.fileName)
      .then((response: any) => {
        this.gotPDFFile = true
        this.pdfurl = response
      })
      .catch((error) => {})
    getFile(this.document.id, this.document.fileName)
      .then((response: any) => {
        this.blob = response
      })
      .catch((error) => {})
  }

  downloadDocument() {
    const link = document.createElement('a')
    link.href = this.pdfurl
    link.setAttribute('download', `${this.document.title}.pdf`)
    document.body.appendChild(link)
    link.click()
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/modal/view-document-modal';
</style>
