@import '../../globals/utils/utils';
@import '../../globals/colors';
@import '../../globals/font';

a {
  color: $dark;
  text-decoration: none;
  background-color: transparent;
}

.navbar-button {
  @extend %padding-3;
  display: flex;
  //flex-direction: column;
  text-align: center;

  svg {
    @extend %margin-auto;
    @extend %margin-right-2;
  }

  svg.navbar-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  span {
    margin: auto 0;
    //@extend %text-style-uppercase;
  }
}

.navbar-button:hover {
  background-color: darken($light, 10%);
}

.highlight:hover {
  background-color: darken($primary, 10%) !important;
}
