@import '../../globals/colors';
@import '../../globals/sizing/sizing';
@import '../../globals/utils/utils';

.navbar-area {
  @extend %width-100;
  @extend %shadow;
  position: relative;
  background-color: white;
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .inner-navbar-area {
    //max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    img {
      @extend %margin-2;
      @extend %margin-right-4;
      @extend %margin-left-4;
      height: 45px;

      @media screen {
        margin-right: 0.5rem;
      }
    }

    .navbar-button-area {
      display: flex;

      .languageToogle {
        @extend %margin-3;
        display: flex;
        text-align: center;
        text-decoration: none;
        color: black;
        @media screen {
          padding: 0px;
          margin-right: 0.5rem;
        }

        span {
          margin: auto 0;
        }
      }

      .languageToogle:hover {
        cursor: pointer;
      }
    }
  }
}
