@import './button/_button';
@import './button/_dropdown';
@import './input/_input';
@import './table/_table';
@import './modal/_modal';
@import './indicator/_bubble';

.container {
  @extend %height-100;
  @extend %width-100;

  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
