<template>
  <div>
    <div id="area" class="navbar-area">
      <div class="inner-navbar-area">
        <div class="navbar-button-area">
          <Icon
            class="menu"
            name="burger-menu"
            color="white"
            @click.native="changeMenuStatus()"
          />
        </div>
        <div class="heading">StudiDocs</div>
        <div class="navbar-button-area">
          <a v-if="!englisch" @click="changeLanguage('en')"
            ><img src="../../assets/icons/united-kingdom.svg"
          /></a>
          <a v-if="englisch" @click="changeLanguage('de')"
            ><img src="../../assets/icons/germany.svg"
          /></a>
        </div>
      </div>
    </div>
    <div class="dropdown" v-if="isMenuVisible">
      <VerticalNavBarButton
        v-for="(btn, index) in navBarButtons"
        :key="navBarButtons.length + index"
        :route="btn.route"
        :text="btn.btnText"
        :roles="btn.roles"
        @click.native="changeMenuStatus()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import NavBarButton from './NavBarButton.vue'
import { getRoutesForMobileNavbar } from '@/services/router.service'
import { NavBarButtonConfig } from '@/types'
import VerticalNavBarButton from './VerticalNavBarButton.vue'

@Component({
  components: {
    NavBarButton,
    VerticalNavBarButton,
  },
})
export default class MobileNavBar extends Vue {
  navBarButtons: NavBarButtonConfig[]
  isMenuVisible = false
  englisch = false

  constructor() {
    super()
    this.navBarButtons = getRoutesForMobileNavbar()
  }

  changeLanguage(lang: string) {
    this.englisch = !this.englisch
    this.$i18n.locale = lang
  }

  changeMenuStatus() {
    this.isMenuVisible = !this.isMenuVisible
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/navbar/navbar';

.menu {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.heading {
  text-align: center;
  color: white;
  font-size: xx-large;
  margin: auto;
}

#area {
  background-color: rgb(213, 12, 47);
}

.dropdown {
  position: none;
  height: auto;
  width: 100%;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px 5px 5px 0px rgba(214, 214, 214, 1);
  box-shadow: -1px 5px 5px 0px rgba(214, 214, 214, 1);
}
</style>
