<template>
  <div class="navbar-area">
    <div class="inner-navbar-area">
      <div class="navbar-button-area">
        <button class="" @click="reloadPage">
          <img src="../../assets/images/Logo.png" />
        </button>
        <NavBarButton
          v-for="(btn, index) in upperNavButtons"
          :key="index"
          :route="btn.route"
          :text="btn.btnText"
          :roles="btn.roles"
        />
      </div>

      <div class="navbar-button-area">
        <NavBarButton
          v-for="(btn, index) in lowerNavButtons"
          :key="upperNavButtons.length + index"
          :route="btn.route"
          :text="btn.btnText"
          :roles="btn.roles"
        />
        <a
          v-if="!englisch"
          class="languageToogle"
          id="languageToggle"
          @click="changeLanguage('en')"
        >
          <span>Englisch</span>
        </a>
        <a
          v-if="englisch"
          class="languageToogle"
          id="languageToggle"
          @click="changeLanguage('de')"
        >
          <span>Deutsch</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import NavBarButton from './NavBarButton.vue'
import { getRoutesForNavbar } from '@/services/router.service'
import { NavBarButtonConfig } from '@/types'

@Component({
  components: {
    NavBarButton,
  },
})
export default class NavBar extends Vue {
  upperNavButtons: NavBarButtonConfig[]
  lowerNavButtons: NavBarButtonConfig[]

  username: string = ''

  englisch = false

  constructor() {
    super()
    //if the following looks strange to you, google 'js array destructuring'
    ;[this.upperNavButtons, this.lowerNavButtons] = getRoutesForNavbar()
  }

  changeLanguage(lang: string) {
    this.englisch = !this.englisch
    this.$i18n.locale = lang
  }
  reloadPage() {
    // reload the page when a router link is clicked
    location.reload()
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/navbar/navbar';
</style>
