<template>
  <router-link
    v-if="hasUserRequiredRole"
    :to="route"
    class="navbar-button"
    :class="[isActive ? 'highlight' : '']"
  >
    <Icon
      class="navbar-icon"
      :name="imgName || route"
      :color="isActive ? 'white' : 'black'"
    />
    <span>{{ $t(text) }}</span>
  </router-link>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Route } from 'vue-router'

import Icon from '../utils/Icon.vue'
import { isSameRoute } from '@/utils/router.utils'

@Component({
  components: {
    Icon,
  },
})
export default class NavBarButton extends Vue {
  hasUserRequiredRole: boolean = false
  isActive: boolean = false

  @Watch('$store.state.user') userRoleChanged() {
    this.hasUserRequiredRole =
      this.roles.length == 0 ||
      this.roles.includes(this.$store.state.user.userRole)
  }
  @Watch('$route') onRouteChange(newRoute: Route) {
    this.isActive = isSameRoute(newRoute, this.route)
  }

  @Prop({ required: true }) route!: string
  @Prop({ required: false, default: '' }) imgName!: string
  @Prop({ required: true }) text!: string
  @Prop({ required: true }) roles!: string[]

  created() {
    this.isActive = isSameRoute(this.route, this.$route)
    this.hasUserRequiredRole =
      this.roles.length == 0 ||
      this.roles.includes(this.$store.state.user.userRole)
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/navbar/navbar-button';
</style>
