<template>
  <div class="footer-area">
    <div class="footer-copyright text-center">
      &copy; 2022 HWR Berlin |
      <router-link to="/conditions">{{
        $t('Nutzungsbedingungen')
      }}</router-link>
      |
      <!-- <a href="/conditions#privacy_protection">{{ $t('Datenschutzerklärung') }}</a> | -->
      <router-link to="/imprint">{{ $t('Impressum') }}</router-link>
      <!-- <a href="/imprint#contact">{{ $t('Kontakt') }}</a> -->
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({})
export default class Footer extends Vue {}
</script>

<style <style lang="scss" scoped>
@import '../../styles/components/footer/footer.scss';
</style>
