<template>
  <div id="app">
    <NavBar v-if="!isMobileSize" />
    <MobileNavBar v-if="isMobileSize" />
    <div class="main-area">
      <keep-alive>
        <router-view reload></router-view>
      </keep-alive>
    </div>
    <Footer v-if="!isMobileSize" />
    <transition name="bottom-slide">
      <CookieBanner v-if="isCookieInfoActive" />
    </transition>
    <InfoBox
      v-if="isInfoBoxActive"
      :value="infoBoxData.value"
      :type="infoBoxData.type"
      @close="closeInfoBox()"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import NavBar from '@/components/navbar/NavBar.vue'
import MobileNavBar from '@/components/navbar/MobileNavBar.vue'
import Footer from '@/components/footer/Footer.vue'
import CookieBanner from '@/components/utils/CookieBanner.vue'
import { Watch } from 'vue-property-decorator'
import { getDecodedToken, hasValidToken } from './services/auth.service'

@Component({
  components: {
    NavBar,
    MobileNavBar,
    Footer,
    CookieBanner,
  },
})
export default class App extends Vue {
  isCookieInfoActive: boolean = false
  isInfoBoxActive: boolean = false
  infoBoxData: { value: string; type?: string } = { value: '' }
  isMobileSize: boolean = false

  @Watch('$store.state.cookieState') onCookieStateChange() {
    this.isCookieInfoActive = this.$store.state.cookieState.info
  }

  @Watch('$store.state.user') onUserStateChange() {
    this.$store.dispatch('getOwnDocumentsState')
    if (
      this.$store.getters.getUserRole == 'docent' ||
      this.$store.getters.getUserRole == 'admin'
    ) {
      this.$store.dispatch('getStudentAccountsState')
    }
  }

  mounted() {
    window.addEventListener('resize', this.checkWindowSize)
    this.$store.dispatch('initCookieState')
    this.checkWindowSize()
    if (hasValidToken()) {
      let token = getDecodedToken()
      this.$store.dispatch('setUserAction', {
        userName: token.userName,
        userToken: token.accessToken,
        userRole: token.userRole,
        userId: token.userId,
      })
    } else {
    }
  }

  destroyed() {
    window.removeEventListener('resize', this.checkWindowSize)
  }

  checkWindowSize() {
    if (window.innerWidth < 600) {
      this.isMobileSize = true
    } else {
      this.isMobileSize = false
    }
  }

  created() {
    ;(<any>this).$eventHub.$on('open-infobox', this.openInfoBox)
  }

  beforeDestroy() {
    ;(<any>this).$eventHub.$off('open-infobox')
  }

  openInfoBox(data: { value: string; type?: string }) {
    this.isInfoBoxActive = true
    this.infoBoxData = data
  }

  closeInfoBox() {
    this.isInfoBoxActive = false
  }
}
</script>
<style lang="scss" scoped>
.bottom-slide-enter-active {
  transition: all 0.5s ease;
}

.bottom-slide-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.bottom-slide-enter,
.bottom-slide-leave-to {
  transform: translateY(100%);
}
</style>
