<template>
  <div class="document-area">
    <div class="topmenu-area">
      <div class="topmenu-button-area">
        <Button
          v-if="isUserAllowedToSee()"
          v-bind:text="$t('Dokument hochladen')"
          icon="upload"
          :coloredWhite="!canUserUpload"
          :test="!canUserUpload"
          @btn-clicked="isUploadModalActive = !isUploadModalActive"
        />
      </div>
      <div class="title-area" v-if="toggleTitleCourse(activeCourse)">
        <h2>{{ $t(activeCourse) }}</h2>
      </div>
      <div class="title-area" v-if="toggleTitle(activeCourse)">
        <h2>{{ $t('Hochgeladene Dokumente') }}</h2>
      </div>
      <div class="filter-area">
        <span
          class="search-word-label"
          v-for="(word, index) in filterObject"
          :key="index"
        >
          {{ word }}
          <button type="button" aria-label="Close" @click="deleteFilter(index)">
            ×
          </button>
        </span>
      </div>
      <div class="search-area">
        <div class="search-group">
          <div class="icon" @click="openFilterModal()">
            <Icon name="filter" color="white" />
          </div>
          <div class="icon">
            <Icon name="search" color="white" />
          </div>
          <input
            v-model="documentSearch"
            type="text"
            name="search"
            maxlength="100"
            v-bind:placeholder="$t('Suche')"
          />
        </div>
      </div>
    </div>
    <div class="content-area">
      <div class="menu-view">
        <div
          class="course-item"
          v-for="(course, index) in courseList"
          :key="index"
          @click="clickedCourse(course)"
          :class="{ highlight: isCourseActive(course) }"
        >
          <Icon
            name="folder"
            :color="isCourseActive(course) ? 'white' : 'black'"
          />
          <span>{{ $t(course) }}</span>
        </div>
      </div>
      <div class="detailed-view">
        <div
          class="document-item"
          v-for="(document, index) in getDocuments"
          :key="index"
          @click="setDocumentToActive(document)"
        >
          <Icon name="pdf" color="black" />
          <div class="info-area">
            <span>
              <b>{{ $t('Titel') }}:</b>
              {{ document.title }}</span
            >
            <!--  <span>
              <b>{{ $t('Student') }}:</b>
              {{ document.student }}
            </span>
            <span>
              <b>{{ $t('Studiengang') }}:</b>
              {{ $t(document.course) }}
            </span>
            <span>
              <b>{{ $t('Dozent') }}:</b>
              {{ document.docent }}
            </span>
            <span><b> {{ $t('Veröffentlichungsjahr') }}: </b> {{document.year}}</span>
            <span>
              <b>{{ $t('Art der Arbeit') }}:</b>
              {{ document.type }}
            </span>
            <span><b> {{ $t('Betrieb') }}: </b> {{document.organisation}}</span>    
            <span><b> {{ $t('Sprache') }}: </b> {{document.language}}</span>-->
          </div>
        </div>
        <div v-if="documentListLength" class="pagination">
          <button
            class="pagination-button"
            @click="previousPage(pageNumber)"
            :disabled="pageNumber <= 1"
          >
            &laquo;
          </button>
          <span v-for="(item, index) in new Array(numberPages)" :key="index">
            <!-- <router-link :to="{path: '/', query: { skip: index  } }" @click="pageNumber = index + 1" :class="['pagination-button', pageNumber == index + 1 ? 'active' : '']">{{index + 1}}</router-link> -->
            <a
              @click="changePage(index)"
              :class="[
                'pagination-button',
                pageNumber == index + 1 ? 'active' : '',
              ]"
              >{{ index + 1 }}</a
            >
          </span>
          <button
            class="pagination-button"
            @click="nextPage(pageNumber)"
            :disabled="pageNumber >= numberPages"
          >
            &raquo;
          </button>
        </div>
      </div>
    </div>
    <ViewDocumentModal
      v-if="isViewDocumentModalActive"
      @close="isViewDocumentModalActive = false"
      :document="activeDocument"
    />
    <UploadDocumentModal
      v-if="isUploadModalActive"
      @close="isUploadModalActive = false"
      @create="sendDocumentCreatePost($event)"
    />
    <FilterModal
      v-if="isFilterModalActive"
      @close="isFilterModalActive = false"
      @filterDocuments="filterDocuments($event, true)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Icon from '../../components/utils/Icon.vue'
import Button from '../../components/utils/Button.vue'
import { getCourseList } from '../../utils/courseList.utils'
import UploadDocumentModal from '../../components/modal/UploadDocumentModal.vue'
import ViewDocumentModal from '../../components/modal/ViewDocumentModal.vue'
import FilterModal from '../../components/modal/FilterModal.vue'
import { Document } from '@/model/document.model'
import { Watch } from 'vue-property-decorator'
import {
  addDocument,
  filterDocuments,
  getDocumentCount,
} from '../../services/api/documents.service'
import { SearchWord } from '../../model/searchWord.model'
import { getStudentAccountById } from '../../services/api/studentAccounts.service'
import { StudentAccount } from '../../model/studentAccount.model'
import { counter } from '@fortawesome/fontawesome-svg-core'

@Component({
  components: {
    Icon,
    Button,
    UploadDocumentModal,
    ViewDocumentModal,
    FilterModal,
  },
})
export default class DesktopDocuments extends Vue {
  isUploadModalActive: boolean = false
  isViewDocumentModalActive: boolean = false
  isFilterModalActive = false
  documentSearch: string = ''
  activeDocument: Document | undefined
  skipFilter: number = 0
  paginationCounter: number = 0

  active = false

  canUserUpload: boolean = false

  courseList: string[] = []
  filterObject: any = {}

  documentList: Document[] = []

  activeCourse: string = ''

  pageNumber: number = 1
  numberPages: number = 1
  documentListLength: boolean = false

  changePage(index: any) {
    this.pageNumber = index + 1
    this.$router.push({ path: '/', query: { skip: index } })
    this.$store.dispatch('getDocumentsState', index * 40)
  }

  nextPage(index: any) {
    this.pageNumber = index + 1
    this.$router.push({ path: '/', query: { skip: index } })
    this.$store.dispatch('getDocumentsState', index * 40)
  }

  previousPage(index: any) {
    this.pageNumber = index - 1
    let param = String(this.pageNumber - 1)
    this.$router.push({ path: '/', query: { skip: param } })
    this.$store.dispatch('getDocumentsState', Number(param) * 40)
  }

  @Watch('$store.state.documents') onDocumentStateChange() {
    this.documentList = this.$store.state.documents
  }

  @Watch('$store.state.user') onUserStateChange() {
    if (this.$store.state.user.userId) {
      getStudentAccountById(this.$store.state.user.userId).then(
        (res) => {
          if (res.id != '0') {
            this.canUserUpload = true
          } else {
            this.canUserUpload = false
          }
        },
        (error) => {},
      )
    }
  }

  mounted() {
    this.skipFilter = this.getRouterParams()
    this.pageNumber = Math.ceil(this.skipFilter / 40) + 1
    this.getPaginationCounter()
    this.$store.dispatch('getDocumentsState', this.skipFilter)
    this.documentList = this.$store.state.documents
    this.courseList = getCourseList()
  }

  private checkDocumentsListLength() {
    if (this.documentList.length > 0) {
      this.documentListLength = true
    } else {
      this.documentListLength = false
    }
  }

  private getPaginationCounter(): void {
    const paginationPromise = getDocumentCount()
    Promise.all([paginationPromise]).then(([count]) => {
      this.paginationCounter = count
      this.numberPages = Math.ceil(count / 40)
    })
  }

  private getRouterParams(): number {
    if (this.$route.query.skip) {
      if (Number(this.$route.query.skip) > this.numberPages - 1) {
        return 0
      } else {
        return Number(this.$route.query.skip) * 40
      }
    } else {
      return 0
    }
  }

  deleteFilter(index: string) {
    delete this.filterObject[index]
    this.filterDocuments(this.filterObject, false)
  }

  filterDocuments(input: any, newFilter: boolean) {
    this.addFiltersToList(input, newFilter)
    const filterPromise = filterDocuments(
      this.filterObject,
      this.getRouterParams(),
    )
    Promise.all([filterPromise]).then(([docList]) => {
      this.documentList = docList
    })
  }

  addFiltersToList(input: any, newFilter: boolean) {
    if (newFilter === true) {
      this.filterObject = {}
    }
    for (var element in input) {
      if (input[element] !== '') {
        this.filterObject[element] = input[element]
      }
      if (this.activeCourse != '') {
        this.filterObject['course'] = this.activeCourse
      }
    }
  }

  openFilterModal() {
    this.isFilterModalActive = true
  }

  sendDocumentCreatePost(document: any) {
    if (document) {
      let data = {
        title: document.title,
        language: document.language,
        type: document.type,
        year: document.year,
        course: document.course,
        docent: document.docent,
        company: document.company,
        restricted: document.restricted,
        abstract: document.abstract,
        student: document.student,
        privacyState: document.privacyState,
        searchWords: document.searchWords,
        ...(document.file && { file: document.file }),
      }
      addDocument(data)
        .then((response) => {
          ;(<any>this).$eventHub.$emit('open-infobox', {
            value: this.$tc(
              'Die Aktion wurde erfolgreich durchgeführt. Das Dokument wurde hochgeladen.',
            ),
          })
          if (this.$store.getters.getUserRole == 'docent') {
            this.$store.dispatch('getStudentAccountsState')
          }
          this.$store.dispatch('getDocumentsState', this.skipFilter)
          this.$store.dispatch('getOwnDocumentsState')
        })
        .catch((error) => {
          if (error.data.error.code == 'NO_VALID_ACCOUNT') {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value: this.$tc(
                'Es liegt keine Freigabe zum Hochladen vor. Sprechen Sie mit Ihrem Dozenten!',
              ),
              type: 'error',
            })
          } else {
            ;(<any>this).$eventHub.$emit('open-infobox', {
              value: this.$tc(
                'Es ist ein unerwarteter Fehler auf Serverseite aufgetreten! Die Aktion wurde abgebrochen.',
              ),
              type: 'error',
            })
          }
        })
    } else {
      ;(<any>this).$eventHub.$emit('open-infobox', {
        value: this.$tc(
          'Es ist ein unerwarteter Fehler aufgetreten! Die Aktion wurde abgebrochen.',
        ),
        type: 'error',
      })
    }
  }

  toggleTitleCourse(course: string) {
    if (course == '') {
      return false
    }
    return true
  }

  toggleTitle(course: string) {
    if (course == '') {
      return true
    }
    return false
  }

  isCourseActive(course: string) {
    return course == this.activeCourse
  }

  clickedCourse(clickedCourse: string) {
    this.activeCourse = clickedCourse == this.activeCourse ? '' : clickedCourse
    this.deleteFilter(this.activeCourse)
  }

  isUserAllowedToSee(): boolean {
    if (
      this.$store.getters.getUserRole === 'student' ||
      this.$store.getters.getUserRole === 'admin'
    ) {
      return true
    }
    return false
  }

  setDocumentToActive(document: Document) {
    this.activeDocument = document
    this.isViewDocumentModalActive = true
  }

  get getDocuments() {
    return this.documentList.filter((document) => {
      if (this.activeCourse && !this.documentSearch) {
        return document.course == this.activeCourse
      } else if (this.documentSearch) {
        if (
          (this.activeCourse && document.course == this.activeCourse) ||
          !this.activeCourse
        ) {
          return (
            JSON.stringify(document)
              .toLowerCase()
              .includes(this.documentSearch) ||
            JSON.stringify(document)
              .toUpperCase()
              .includes(this.documentSearch) ||
            JSON.stringify(document).includes(this.documentSearch)
          )
        } else {
          return false
        }
      } else {
        return true
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/views/documents.scss';

.pagination {
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  margin-bottom: 0.5rem;
  right: 1rem;
  border-radius: 5px;

  .pagination-button {
    background-color: white;
    border: white;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

    &.active {
      background-color: #d50c2f;
      color: white;
      border-radius: 5px;
    }

    &:disabled {
      cursor: auto;
      color: gray;
    }
  }
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination-button:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
</style>
