<template>
  <div>
    <div class="heading">
      <h2>{{ $t(activeCourse.text) }}</h2>
      <hr />
    </div>
    <div class="content-area">
      <div class="detailed-view">
        <div
          class="document-item"
          v-for="(document, index) in getDocuments"
          :key="index"
          @click="setDocumentToActive(document)"
        >
          <div class="parent">
            <div class="icon">
              <Icon name="pdf" color="black" />
            </div>
            <div>
              <span class="items">{{ document.title }}</span>
              <span class="items">{{ document.type }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ViewDocumentModal
            v-if="isViewDocumentModalActive"
            @close="isViewDocumentModalActive = false"
            :document="activeDocument"
            /> -->
    <MobileViewDocument
      v-if="isViewDocumentModalActive"
      @close="isViewDocumentModalActive = false"
      :document="activeDocument"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import Icon from '@/components/utils/Icon.vue'

import { Document } from '@/model/document.model'
import { Watch } from 'vue-property-decorator'
import MobileViewDocument from '../../components/modal/MobileViewDocument.vue'

@Component({
  components: {
    Icon,
    MobileViewDocument,
  },
})
export default class MobileCourseDocuments extends Vue {
  documentList: Document[] = []
  activeCourse: { text: string } = {
    text: '',
  }
  documentSearch: string = ''
  activeDocument: Document | undefined
  isViewDocumentModalActive: boolean = false

  mounted() {
    if (this.$route.query.course) {
      let course = this.$route.query.course.toString()
      Vue.set(this.activeCourse, 'text', course)
      this.documentList = this.$store.state.documents
      this.getDocuments
    }
  }

  @Watch('$store.state.documents') onDocumentStateChange() {
    this.documentList = this.$store.state.documents
  }

  @Watch('$route') changeCourse() {
    if (this.$route.query.course) {
      let course = this.$route.query.course.toString()
      Vue.set(this.activeCourse, 'text', course)
      this.documentList = this.$store.state.documents
      this.getDocuments
    }
  }

  get getDocuments() {
    return this.documentList.filter((document) => {
      if (this.activeCourse && !this.documentSearch) {
        return document.course == this.activeCourse.text
      } else if (this.documentSearch) {
        if (
          (this.activeCourse && document.course == this.activeCourse.text) ||
          !this.activeCourse
        ) {
          return (
            JSON.stringify(document)
              .toLowerCase()
              .includes(this.documentSearch) ||
            JSON.stringify(document)
              .toUpperCase()
              .includes(this.documentSearch) ||
            JSON.stringify(document).includes(this.documentSearch)
          )
        } else {
          return false
        }
      } else {
        return true
      }
    })
  }

  setDocumentToActive(document: Document) {
    this.activeDocument = document
    this.isViewDocumentModalActive = true
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/views/documents.scss';

.heading {
  text-align: center;
  color: rgb(213, 12, 47);
}

.spacing {
  margin-right: 0.5rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  flex: 0 1 25%;
  float: left;
}

.items {
  flex: 1 1 75%;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;

  b {
    margin-right: 0.5rem;
  }
}
</style>
