<template>
  <div>
    <div class="document-area">
      <div class="content-area">
        <div class="menu-view">
          <div
            class="course-item"
            v-for="(course, index) in courseList"
            :key="index"
            :class="{ highlight: isCourseActive(course) }"
            @click="clickedCourse(course)"
          >
            <Icon
              name="folder"
              :color="isCourseActive(course) ? 'white' : 'black'"
            />
            <span>{{ $t(course) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { getCourseList } from '../../utils/courseList.utils'
import Icon from '@/components/utils/Icon.vue'
import { Watch } from 'vue-property-decorator'

@Component({
  components: {
    Icon,
  },
})
export default class MobileDocuments extends Vue {
  courseList: string[] = []
  activeCourse = ''

  mounted() {
    this.courseList = getCourseList()
  }

  isCourseActive(course: string) {
    return course == this.activeCourse
  }

  clickedCourse(clickedCourse: string) {
    this.activeCourse = clickedCourse == this.activeCourse ? '' : clickedCourse
    this.$router.push({
      path: '/documents',
      query: { course: this.activeCourse },
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/views/documents.scss';
</style>
