$headerheight: 5%;

.table-area {
  @extend %padding-2;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;

  .table {
    @extend %width-100;
    @extend %max-width-100;
    @extend %margin-left-3;
    @extend %margin-right-3;
    @extend %margin-top-2;
    @extend %margin-bottom-2;
    @extend %rounded-border;
    @extend %shadow;
    min-width: 0;
    min-height: 0;
    overflow: auto;

    .table-header {
      @extend %rounded-border-top;
      @include border(#dee2e6, 1px, bottom);
      display: flex;
      background-color: darken($light, 5);
      height: $headerheight;

      .table-header-item {
        @extend %text-style-uppercase;
        width: 100/7 * 1%;
        text-align: center;
        font-weight: 100;
        margin: auto;
      }
    }

    .table-body {
      @extend %width-100;

      height: 100% - $headerheight;

      .table-row {
        @extend %max-width-100;
        @extend %width-100;
        @extend %bg-light;
        height: (100% / 6);
        max-height: (100% / 6);
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        .table-row-entry {
          width: (100% / 7);
          max-width: (100% / 7);
          display: flex;
          text-align: right;
          text-overflow: ellipsis;
          overflow: auto;
        }

        .table-row-entry:not(:last-child) {
          @include border(#dee2e6, 1px, right);
        }
      }

      .table-row:not(:last-child) {
        @include border(#dee2e6, 1px, bottom);
      }
    }

    .loading {
      height: 100% - $headerheight;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
