<template>
  <button
    type="button"
    class="btn"
    :disabled="test"
    :class="{
      'btn-show-border btn-shadow': border,
      'btn-light': border && coloredWhite,
      'btn-primary': !coloredWhite,
    }"
    @click="buttonClicked(text)"
  >
    <Icon
      class="icon"
      v-if="icon"
      :color="coloredWhite ? 'black' : 'white'"
      :name="icon"
    />
    <span class="space" v-if="icon && text"></span>
    <span v-if="text">{{ text }}</span>
  </button>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import Icon from './Icon.vue'

@Component({
  components: {
    Icon,
  },
})
export default class Button extends Vue {
  @Prop({ required: false }) text!: string
  @Prop({ required: false }) icon!: string
  @Prop({ required: false, default: true }) border!: boolean
  @Prop({ required: false, default: true }) coloredWhite!: boolean
  @Prop({ required: false, default: false }) test!: boolean

  buttonClicked(text: string) {
    this.$emit('btn-clicked')
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/utils/button.scss';
</style>
