<template>
  <div class="checkbox">
    <input
      type="checkbox"
      :id="id"
      @click="click($event)"
      v-model="value"
      ref="checkbox"
      @change="$emit('input', value)"
    />
    <label :for="id">{{ label }}</label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component({})
export default class Checkbox extends Vue {
  @Prop({ required: true }) label!: string
  @Prop({ required: true }) value!: boolean
  @Prop({ required: false, default: false }) isIndeterminate!: boolean
  @Watch('isIndeterminate') changeIndeterminate() {
    let checkbox = this.$refs.checkbox as HTMLInputElement
    if (checkbox) checkbox.indeterminate = this.isIndeterminate
  }

  // an id for the checkbox to bind the label to it
  id: string = ''

  created() {
    this.id = this.$idGenerator.generateID()
  }

  mounted() {
    this.changeIndeterminate()
  }

  click(e: any) {
    this.$emit('changed', e.target.checked)
  }
}
</script>
