<template>
  <div class="cookie-banner-area">
    <div class="content-area">
      <p>
        Diese Website verwendet Cookies – nähere Informationen dazu und zu Ihren
        Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am Ende
        der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren
        und alle Funktionen vollumfänglich nutzen zu können.
      </p>
      <div class="button-area">
        <button class="btn btn-primary" @click="acceptCookies()">
          Ich stimme zu
        </button>
        <button class="btn" @click="declineCookies()">
          Ich stimme nicht zu
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import Button from '@/components/utils/Button.vue'
import store from '../../store'

@Component({
  components: {
    Button,
  },
})
export default class Icon extends Vue {
  declineCookies() {
    store.dispatch('setCookiesState', { cookies: false })
  }

  acceptCookies() {
    store.dispatch('setCookiesState', { cookies: true })
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/components/utils/cookie-banner';
</style>
