<template>
  <div class="dropdown" id="dropdown">
    <button
      class="btn btn-shadow btn-show-border btn-light"
      @click="isDropDownActive = !isDropDownActive"
      id="dropdown-button"
    >
      {{ selected }}
    </button>
    <div
      class="dropdown-menu"
      id="dropdown-menu"
      :class="{ 'show-dropdown-menu': isDropDownActive }"
    >
      <a
        v-for="(button, index) in buttons"
        :key="index"
        class="dropdown-item"
        @click="
          buttonClicked(button)
          isDropDownActive = false
        "
        :class="{ highlight: selected == button }"
        >{{ button }}</a
      >
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({})
export default class Dropdown extends Vue {
  /*
   * FAILURE: dropdown is still active after clicking in other components than the calendar
   */

  isDropDownActive: boolean = false

  @Prop({ required: true }) buttons!: string[]
  @Prop({ default: '' }) selected!: string

  buttonClicked(buttonText: string) {
    this.$emit('btn-clicked', buttonText)
  }

  mounted() {
    document.addEventListener('click', (e: Event) => this.clicked(e))
  }

  destroyed() {
    document.removeEventListener('click', (e: Event) => this.clicked(e))
  }

  clicked(e: Event) {
    if (this.isDropDownActive) {
      let target = <HTMLElement>e.target
      if (target) {
        if (target.id != 'dropdown-menu' && target.id != 'dropdown-button') {
          this.isDropDownActive = false
        }
      }
    }
  }
}
</script>
