<template>
  <transition name="infobox-slide-down">
    <div class="infobox-outer-area">
      <div
        class="infobox-area"
        :class="[type == 'info' ? 'info-type' : 'alert-type']"
      >
        <div class="infobox-text">{{ value }}</div>
        <span class="infobox-close-icon" @click="closeInfoBox()"
          ><Icon name="close" color="white"
        /></span>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({
  name: 'InfoBox',
})
export default class InfoBox extends Vue {
  @Prop({ required: true }) value!: string
  @Prop({ required: false, default: 'info' }) type!: string

  created() {
    setTimeout(() => {
      this.closeInfoBox()
    }, 8000)
  }

  closeInfoBox() {
    this.$emit('close')
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
@import '../../styles/components/utils/infobox';
</style>
