.form-group {
  margin-bottom: $font-size;

  label {
    display: inline-block;
    margin-bottom: 0.5 * $font-size;
    font-weight: 700;
    user-select: none;
  }

  input,
  textarea,
  select {
    @extend %custom-input;
  }

  input:disabled {
    background-color: lightgray;
  }

  textarea {
    resize: none;
  }

  select {
    width: 100%;
    height: 2.5rem;
  }

  small {
    @extend %text-grey;
    display: block;
    margin-top: 0.25 * $font-size;
  }
}

form {
  .btn {
    @extend %bg-primary;
    @extend %text-light;
  }
}
