.search-group {
  display: flex;

  .icon {
    @extend %bg-primary;
    /* @extend %rounded-border-left; */
    width: ($font-size + 2 * 0.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .icon:first {
    @include border(black, 1px, 'right');
  }

  input {
    @extend %custom-input;
    @extend %rounded-border-right;
  }
}
