%custom-input {
  @extend %rounded-border;
  @include border(#b3b3b3);
  display: block;
  width: calc(100% - 2 * 0.75rem);
  padding: 0.375rem 0.75rem;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  color: $text-color;
  background-color: $light;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@import './__checkbox';
@import './__form';
@import './__search';
